[2013-03-04 01:06] jhpoelen opened #1 "Review existing data model"
See attached image for a coarse description of the existing species interaction data model.

Possible improvements include: interaction type modeling (directionality, type hierarchy, interaction type "taxonomy"), taxon classification modeling, attribution, study vs dataset vs summary.

![IMG_1351](https://f.cloud.github.com/assets/1084872/215133/58c0882e-8468-11e2-9765-5a0b366ffc78.png)

[2013-03-04 21:46] jhpoelen opened #2 "check predator / source taxon mapping mismatches"
in recent eol-globi normalization runs, some source/ predator taxa names didn't match against an external taxonomy.  Kindly go over the attached list and provide names that do match in form of csv/ excel sheet with fields like:

| original taxon name | corrected taxon name |
| --- | --- |
| Homo saliens | Homo sapiens |

--- mismatched list:

"name of unmatched predator taxon"," study title in whi

[2013-04-08 02:22] #2 closed, assigned to jsimons9

[2013-04-08 15:19] jhpoelen opened #3 "Include authority or reason in taxonomy normalization data / report"
From Jim's email April 8, 2013 in response to http://tinyurl.com/normalizedTaxonNames
[...]
We might want to include the authority that we used to make the name change, ie ITIS, Worms, EOL, etc. We also might want to rather than say corrected use the term normalized or some other term.  I am only saying this as there are heated battles in taxonomic circles over some names, and you can find some sp

[2013-05-09 20:52] jhpoelen opened #4 "add unmatched target taxa list to darwin core archive"

[2013-05-14 18:33] jhpoelen opened #5 "Species interaction type searches now use interaction vocabulary, do we need an actual ontology?"
At the time of writing (May 14, 2013), GloBI is modeling interactions in a basic way.  The following interaction types are used: PREYS_UPON, PARASITE_OF, HAS_HOST, INTERACTS_WITH, HOST_OF, POLLINATES, PERCHING_ON, ATE .

In order to answer questions like: "Which species does Homo sapiens any kind of interact with?" we now have to list all interactions in the query.  It works, but feels a bit clunk

[2013-05-14 18:34] #1 closed, assigned to cmungall

[2013-05-14 19:10] #4 closed, assigned to nobody

[2013-07-11 22:05] jhammock opened #6 "Summary data please"
For data consumers who want only one record (or a very few) between any two taxa, let us have a summary dataset, please. As a first cut, within each contributed dataset, one summary record per taxon or per association. Let's see, minutiae: if a pair of associates has multiple different association types between them, these should be kept separate, so one record per unique triple of taxon-associati

[2013-07-19 04:47] max-mapper opened #7 "denormalized json export"
e.g.

[code]

[2013-07-22 17:23] #5 closed, assigned to cmungall

[2013-07-22 17:25] jhpoelen opened #8 "use GloBI interaction ontology with GloBI interaction data to populate owl export"
using results of #5 , create an owl export of the GloBI interaction data such that the data can be imported in tools such as protege, 4store, virtuoso and the like.

[2013-07-24 18:32] #7 closed, assigned to nobody

[2013-07-24 20:48] jhpoelen opened #9 "REST search for prey for humans as CSV has invalid rows"
http://trophicgraph.com:8080/taxon/Homo%20sapiens/preysOn?type=csv

should produce something like:

| source_taxon_name | interaction_type | target_taxon_name |
| --- | --- | --- |
| Homo sapiens | preysOn | prey 1 |
| Homo sapiens | preysOn | prey 2 |

but now produces something like:

| source_taxon_name | interaction_type | target_taxon_name |
| --- | --- | --- |
| Homo sapiens | preysOn | prey

[2013-07-25 18:41] #6 closed, assigned to nobody

[2013-07-25 20:04] #9 closed, assigned to nobody

[2013-08-09 02:59] max-mapper opened #10 "geo API suggestions"
there are some standard geo API patterns here http://www.opensearch.org/Specifications/OpenSearch/Extensions/Geo/1.0/Draft_2

e.g. instead of `&nw_lat=29.3&nw_lng=-97.0&se_lat=26.3&se_lng=96.1` you can do `&bbox=-74.0667,40.69418,-73.9116,40.7722`

also a geojson response would be awesome! having to manually combine `columns` with `data` is annoying

[2013-08-15 20:58] #8 closed, assigned to nobody

[2013-08-23 19:59] max-mapper opened #11 "possible to search by genus?"
I watched a documentary on blue fin tuna, but there are 3 different species: atlantic, southern and pacific

They all are in genus `Thunnus`, and I was wondering if you could query interaction data by genus

[2013-08-31 00:27] jhpoelen opened #12 "taxon path (all taxon ranks) for "Foraminifera" does not include "Foraminifera" but synonym "Foraminiferida""
Steps to reproduce:
1. search for predator / prey of "Foraminifera" by taxon name
2. taxon EOL:4888 is returned
3. search for predator / prey of "Foraminifera" by taxon path

Expected result:
taxon EOL:4888 is returned

Actual result:
taxon EOL:4888 is _not_ returned, because the taxon path (full taxonomic path) of "Foraminifera" did not include "Foraminifera", but was "Protozoa Not Granuloreticul

[2013-08-31 00:45] #12 closed, assigned to nobody

[2013-09-04 15:33] #11 closed, assigned to nobody

[2013-09-04 15:43] jhpoelen opened #13 "Introduce a way to find taxon link to FishBase"
Suggested by @jsimons9 :

Introduce a way to lookup and link to FishBase taxonomy pages.

http://fishbase.org

[2013-09-04 15:48] jhpoelen opened #14 "contact dataset owners / curators and ask for taxonomic references for (currently) unmatched taxa"
In the darwincore export  (see [Accessing Interaction Data](https://github.com/jhpoelen/eol-globi-data/wiki#accessing-species-interaction-data)), there are two lists containing unmatched taxon names for specific studies / datasets.  Current taxonomic matching services used are: WoRMS, ITIS, GulfBase and EOL.

We need to contact the authors/ curators of the datasets and ask them for more informatio

[2013-09-04 15:53] jhpoelen opened #15 "merge gomexsi and gomexsi_km datasets"
Currently, two datasets exist related to data extracted by GoMexSI from existing references: [gomexsi](https://github.com/jhpoelen/eol-globi-data/tree/master/eol-globi-data-tool/src/main/resources/org/eol/globi/data/gomexsi) and [gomexsi_km](https://github.com/jhpoelen/eol-globi-data/tree/master/eol-globi-data-tool/src/main/resources/org/eol/globi/data/gomexsi_km).

As discussed, please merge the

[2013-09-04 15:57] jhpoelen opened #16 "Gap Analysis GoMexSI file format with EOL's DarwinCore export format"
as discussed with @jsimons9 today :

GoMexSI might be able to leverage the DarwinCore associations export format that is proposed by EOL.  The advantage would be that we'd only have to support a single export format (less work).  To see whether GoMexSI can re-use the DarwinCore export format proposed by EOL, we need to make a list of missing data elements / concepts that would need to be added.

[2013-09-11 16:50] jhpoelen opened #17 "sparql endpoint returns 404 on retrieving SPARQL service description"
reported by @cmungall

Although SPARQL queries can be issued (see http://api.globalbioticinteractions.org:3030/globi/sparql?query=SELECT+*+WHERE+{%3FX+%3FP+%3FY}+LIMIT+10&output=json&stylesheet=%2Fxml-to-html.xsl&force-accept=text%2Fplain), a request for a service description using http://api.globalbioticinteractions.org:3030/globi/sparql returns:

[code]

[2013-09-11 17:44] rdmpage opened #18 "Ecological associations from datamining GenBank"
The basic idea is that GenBank is a large repository of information beyond simply DNA sequences. Individual sequences may contain information on host-parasite relationships (see http://ispecies.blogspot.co.uk/2006/03/building-encyclopedia-of-life.html ) or dietary information (e.g., sequences from gut contents ). I explored some of this data in http://iphylo.blogspot.co.uk/2011/03/visualising-symb

[2013-09-16 17:20] jhpoelen opened #19 "use ENVO ontology to classify environments (aka biomes, habitat)"
Interactions currently contains spatial information in the form of latitude / longitude.  In addition to this, GloBI should have a way to model the kind of location that the interaction occurred in.  ENVO, an environmental ontology http://code.google.com/p/envo or http://environmentontology.org/ has taken up the task to provide an "EnvO is a community ontology for the concise, controlled descripti

[2013-09-16 21:21] jhpoelen opened #20 "provide mapping from CMECS to ENVO"
from communication with @jsimons9

[code]

http://www.csc.noaa.gov/digitalcoast/publications/cmecs

[2013-10-02 16:20] #15 closed, assigned to jsimons9

[2013-10-02 17:25] jhpoelen opened #21 "duplicate in references csv for GoMexSI dataset"
I noticed some possible duplicates in references csv file for the GoMexSI datasets. Notably, reference 24d (Divita et al).  Please remove duplicate entries in the reference csv file.

[2013-10-07 19:32] #19 closed, assigned to nobody

[2013-10-09 23:42] jhpoelen opened #22 "map existing life stage, body part and physiological state to UBERON ontology"
Currently, GloBI has a mapping file that internally normalizes terms.  Rather than using GloBI terms, we'd like to use an existing ontology such as UBERON to avoid re-inventing the wheel.

The mapping current mapping file for life stage, body part and physiological state can be found here:
https://raw.github.com/jhpoelen/eol-globi-data/master/eol-globi-data-tool/src/main/resources/org/eol/globi/se

[2013-10-30 17:03] jhpoelen opened #23 "integrate with KelpForest database"
http://kelpforest.ucsc.edu/

[2013-10-30 17:04] jhpoelen opened #24 "integrate with Atlas of Living Australia's species interaction"
Reference shared by Cyndy Parr:

http://ala1.science.unsw.edu.au/

[2013-11-03 18:32] coding46 opened #25 "findCloseMatchesForTaxon results differ for search term length"
If you request for #findCloseMatchesForTaxon the results are not as expected for different count of characters of a given search term:

Example:
http://trophicgraph.com:8080/findCloseMatchesForTaxon/homo%20s
result does not contain any entry with 'homo s'

http://trophicgraph.com:8080/findCloseMatchesForTaxon/homo%20sap
rest urns an empty result set

http://trophicgraph.com:8080/findCloseMatchesFo

[2013-11-03 18:37] coding46 opened #26 "findCloseMatchesForTaxon returns in 15 items at maximum"
# findCloseMatchesForTaxon seems to limit the count of returned result items to 15.

Example:
http://trophicgraph.com:8080/findCloseMatchesForTaxon/h
returns 15 items but e.g. 'homo sapiens" is missed

Maybe there is a kind of paging involved during querying the database.

[2013-11-06 22:54] #26 closed, assigned to nobody

[2013-11-09 20:19] #25 closed, assigned to nobody

[2013-11-19 16:03] jhammock opened #27 "request to add LifeWatch Greece Polytraits dataset to GloBI"
Hmm... I am processing a very interesting mixed dataset, some associations but mostly other stuff. Polychaete worms, about 800 species, fun stuff. The final version is not up yet (draft version at http://eol.org/collections/97431/taxa) and it's not too late to split out the associations and route them through GloBI, but this will probably happen again and again with bits and pieces of mixed datase

[2013-11-21 22:15] CynthiaParr-USDA opened #28 "Adding habitat, location, and compiler info for SPIRE data"
The latest SPIRE data EOL has from you seems to have links to some but not all of the rich information available for each link. You may want to look at the application we built at U Maryland that used all of these data to see all the facets that are available for each link:
http://www.cs.umd.edu/hcil/biodiversity/#EcoLens
(the application only runs on Windows machines and I don't have easy access

[2013-12-18 00:00] #10 closed, assigned to nobody

[2013-12-20 18:16] #3 closed, assigned to nobody

[2013-12-20 18:17] #14 closed, assigned to jsimons9

[2013-12-20 18:56] #13 closed, assigned to nobody

[2013-12-20 19:30] jhpoelen opened #29 "normalize locations such that administrative areas (e.g. country) and coordinates (lat /lng) can be accessed"
As suggested by @csparr

Use case:
1. data set contains adminstrative geo information such as country, county, city
2. GloBI ingests geo information and normalizes it into a geo-coding ontology / vocabulary
3. With the normalized geocodes, GloBI users can select areas of interest based on coordinates (latitude, longitude) and/or administrative areas (e.g. find me all mammals that are eaten in New

[2013-12-20 19:32] #28 closed, assigned to nobody

[2014-01-16 19:10] jhpoelen opened #30 "filter / sort reference by source in references"
as suggested by Jim.

filter / sort reference by source in references
http://eol-globi.github.io/references.html

[2014-01-16 19:18] jhpoelen opened #31 "include a what eat .... page in addition to what does ... eat?"
suggested by Jim.

similar to http://eol-globi.github.io/index.html

[2014-01-16 21:52] jhpoelen opened #32 "introduce a way to display map with locations filtered by taxon name (mainly predator)"
as suggested by Jim.

[2014-01-16 22:00] jhpoelen opened #33 "integrate occurrence datasets to highlight gaps in interaction datasets"
Many species occurrence datasets are available digitally. Comparing occurrence datasets with the interaction datasets would help us to identify the gaps in the interaction datasets. In addition, we might be able to make inferences about known interactions between species across geographical locations. E.g. if Red snapper was observed eating shrimp in Gulf of Mexico, it would be likely that Red sna

[2014-01-16 23:45] jhpoelen opened #34 "introduce a way to answer the question: "what does a ... eat in ... ecoregion?""
More specifically, we'd like to answer the questions: which taxa are known to be eaten by king mackerel for the Floridian, North Gulf of Mexico, South Gulf of Mexico.

[2014-01-17 19:55] jhpoelen opened #35 "remove duplicate taxa from darwin code archive export"

[2014-01-17 22:54] jhpoelen opened #36 "publish GloBI data dictionary."
publish a wiki page that contains the data elements that GloBI supports (e.g. taxon name, locations, physiological state). Include links to external ontologies and dictionary.

[2014-01-17 23:09] #21 closed, assigned to jsimons9

[2014-01-17 23:12] #16 closed, assigned to jsimons9

[2014-01-19 23:44] jhpoelen opened #37 "introduce more flexible taxon name matching: if species name does not match, then use genus."
To allow for better linkage between taxon names and available taxonomies, introduce a way to match a species or subspecies using its genus.

For instance, with current matching algorithms the name:
`Cortinarius brunneus var. glandicolor` does not match eol, itis or any other supported name matching services. However `Cortinarius brunneus` or even `Cortinarius` probably does match.

Suggest to trun

[2014-01-20 00:18] #37 closed, assigned to nobody

[2014-01-20 00:20] #27 closed, assigned to jhpoelen

[2014-01-20 22:07] jhpoelen opened #38 "suggest to add Raymond et al (2011) A Southern Ocean Diet database"
as suggested by Brian Hayden:

[code]

[2014-01-23 01:39] jhpoelen opened #39 "species interactions with a "general" locale are coded at (lat,lng)=(0, 0) which seems like the Southern Atlantic"
Selecting all locations with (lat,lng) = (0,0) resulted interaction in the following SPIRE datasets:

[code]

Using query: http://trophicgraph.com:7474/webadmin/#/data/search/START%20location%20%3D%20node%3Alocations%28%27*%3A*%27%29%0AMATCH%20location%3C-[%3ACOLLECTED_AT]-specimen%3C-[%3ACOLLECTED]-study%0AWHERE%20location.latitude%20%3D%200.0%20AND%20location.longitude%20%3D%200.0%0ARETURN%20dis

[2014-01-23 01:44] #39 closed, assigned to nobody

[2014-01-27 15:35] jhpoelen opened #40 "duplicate taxon names in taxon index"
Steps to reproduce:
1. go to http://eol-globi.github.io
2. enter "hardhead catfish"

Expected: only single entry of Ariopsis felis.

Actual: two entries of Ariopsis felis.
![screen shot 2014-01-27 at 7 35 12 am](https://f.cloud.github.com/assets/1084872/2010071/aa6b3904-8768-11e3-8f94-a1f3a65a1c13.png)

[2014-01-27 16:09] jhpoelen opened #41 "retrieving results of many prey items takes long time"
Steps to reproduce:
1. go to http://eol-globi.github.com
2. enter "fish", and select "Actinopterygii"

Expected results: first bunch of results show up immediately, the rest is loaded when needed.

Actual results: all prey items are retrieved at once, resulting is long loading time of the results.

Suggestion: introduce pagination to progressively load the prey items.

[2014-01-28 20:37] #35 closed, assigned to nobody

[2014-01-31 17:45] jhpoelen opened #42 "find shapefiles for Large Marine Ecosystems (LME)."
MEOW (Marine Ecosystems of the World) seems to cover mostly continental shelf, not deep sea. It would be nice to incorporate a way to classify locations beyond the continental shelf.

[2014-02-01 22:15] #41 closed, assigned to nobody

[2014-02-01 22:16] #40 closed, assigned to nobody

[2014-02-01 22:17] #38 closed, assigned to nobody

[2014-02-04 20:45] jhpoelen opened #43 "Atlantic Herring (Clupea Harengus) unlikely to eat Norway Pout (Trisopterus esmarkii) perhaps larvae?"
Found at http://eol-globi.github.io when searching for Atlantic Herring.

[2014-02-04 20:46] jhpoelen opened #44 "fix link to ontology on wiki"

[2014-02-05 02:48] jhpoelen opened #45 "import interaction data from Anne Thessen https://github.com/EOL/pseudonitzchia"
See https://github.com/EOL/pseudonitzchia/blob/master/README.md for more information.

suggested by @diatomsRcool

[2014-02-05 02:50] #45 closed, assigned to nobody

[2014-02-05 14:44] jhpoelen opened #46 ""Algae" is currently mapped to "Cryptophyta" need to investigate. . ."
Name "Algae" is currently mapped to page id http://eol.org/pages/3353 "Cryptophyta" . Need to investigate more.

[2014-02-05 15:43] jhpoelen opened #47 "enable a interaction search by specific taxonomic rank (e.g. genus)"
Example question: What are all prey items of Shark species where the prey items are recorded on their level.

For example, let's say that the shark Shark _(Elasmobranchii)_ species blacktip shark _(Carcharhinus limbatus)_ feeds on hardhead catfish _(Ariopsis felis)_ and Animals, I'd have a way to only list the genus level prey items like  _(Ariopsis)_ and exclude higher taxa like animals.

[2014-02-07 14:39] jhpoelen opened #48 "consider using GADM (Global Administrative Areas Boundaries without limits) for geo admin shapes"
http://gadm.org/version2

[2014-02-07 19:09] jhpoelen opened #49 "consider leaflet (javascript lbrary) for making lightweight spatial widgets for spatial overview of interactions"
http://leafletjs.com/

[2014-02-07 21:32] jhpoelen opened #50 "add Hechinger et al. (2011) dataset"

[2014-02-08 14:29] #44 closed, assigned to nobody

[2014-02-09 20:30] #43 closed, assigned to nobody

[2014-02-12 00:50] jhpoelen opened #51 "update Raymond et al. (2011) dataset"
Update Raymond et al. (2011) with recently received dataset from author.

[2014-02-12 02:04] #42 closed, assigned to nobody

[2014-02-15 00:35] jhpoelen opened #52 "add sameAs taxon relationships to point to taxonomies such as NCBI; ITIS etc"
EOL taxon -- sameAs --> ITIS taxon

[2014-02-21 05:02] #47 closed, assigned to nobody

[2014-02-21 16:34] #51 closed, assigned to jhpoelen

[2014-02-25 15:42] jhpoelen opened #53 "include SIZEWEB database"
as received from Jim Simons:

Hey Jorrit,

 You may be interested in the note below.

Jim

-----Original Message-----

Sent: Saturday, February 22, 2014 5:53 PM

Subject: [Foodwebs] SIZEWEB just appeared in the February issue of Ecology

... forwarding from Christian Mulder ...
@@@@@@@@@@@@@@@@@@@@@@@@@

Dear Colleagues,

I am happy to announce the launch of the free-downloadable SIZEWEB database

[2014-02-25 21:34] jhpoelen opened #54 "include way to filter on interaction types in the rest api"
As suggested by use cases of Jarrett Byrnes (associated to KelpForest project), provide a way to select only specific kinds of interaction types. Something like:

http://trophicgraph.com:8080/interaction?bbox=-98.0,21.0,-87.08,31.32&sourceTaxon=Ariidae&sourceTaxon=Elasmobranchii&interactionType=preysOn

to retrieve all the _predator - prey interactions (i.e. preysOn type)_ of sea catfishes (Ariida

[2014-02-26 20:00] #46 closed, assigned to nobody

[2014-03-28 21:10] #23 closed, assigned to nobody

[2014-04-01 22:55] #52 closed, assigned to nobody

[2014-04-17 20:39] jhpoelen opened #55 "api not reachable on port 8080 on institutional network"
Currently, the GloBI api is available on port 8080. @jhammock experienced a situation where on her institutional network, she can reach port 80 on trophicgraph.com, but not port 8080 on the same server.

Suggest to make api available on port 80 to avoid such port range blocking methods.

[2014-04-17 22:18] #55 closed, assigned to nobody

[2014-04-19 00:50] jhpoelen opened #56 "support iNaturalist observations field pair "ecological interaction" and "Associated species with names lookup""
For example see:

http://www.inaturalist.org/observations/629819

Currently, these pairs are ignored. Hopefully, soon, we'll be able to supporting importing these observations fields.

@kueda - is there a preferred ecological interaction notation for inaturalist in addition to the taxon observation field type and the one described here?

[2014-04-22 20:49] jhpoelen opened #57 "integrate Hurlbert Avian Diet Dataset"
using citation:
Avian Diet Database. Unpublished data provided by Allen Hurlbert. For more info see http://labs.bio.unc.edu/Hurlbert/ .

[2014-04-22 20:55] jhpoelen opened #58 "investigate method to use higher order classification and exclude specific child groups"
as asked by Allen Hurlbert:
Is there a good way to classify a specimen using a higher order taxa (e.g. mammals) but exclude specific sub taxa (e.g. not primates)?

[2014-04-23 17:57] #57 closed, assigned to nobody

[2014-04-29 17:00] jhpoelen opened #59 "Suspected invalid interaction - moth (Hadena caesia) eats fish."
As reported by Sergey Slyusarev, when inspecting interactions for The Grey (Hadena caesia) using http;//api.globalbioticinteractions.org/taxon/Hadena%20caesia/preysOn , the moth is said to prey on or eat marine species. This is unlikely.

Root cause: Specimen originally described as “Grey Smoothhound” was incorrectly classified as The Grey (Hadena caesia), a type of moth. Reason was that species w

[2014-04-29 17:03] #59 closed, assigned to nobody

[2014-04-29 20:59] #56 closed, assigned to nobody

[2014-04-30 07:59] jemmybutton opened #60 "Suspected invalid interactions — John Dory (Zeus faber)"
Following Hymenoptera species are said to prey on marine predatory fish Zeus Faber: Eurytoma brunniventris (http://api.globalbioticinteractions.org/taxon/Eurytoma%20brunniventris/preysOn), Synergus reinhardi (http://api.globalbioticinteractions.org/taxon/Synergus%20reinhardi/preysOn), Andricus curvator (http://api.globalbioticinteractions.org/taxon/Andricus%20curvator/preysOn) and Cynips divisa (h

[2014-04-30 14:28] jhpoelen opened #61 "consider linking locations with MARSPEC"
as suggested by Kathy Goodlin:
"http://www.marspec.org/

MARSPEC is a set of high resolution climatic and geophysical GIS data layers for the world ocean.  Seven geophysical variables were derived from the SRTM30_PLUS high resolution bathymetry dataset.  These layers characterize the horizontal orientation (aspect), slope, and curvature of the seafloor and the distance from shore.  Ten “bioclimati

[2014-04-30 15:41] #60 closed, assigned to nobody

[2014-05-01 19:16] jhpoelen opened #62 "include higher order taxonomic ranks in darwin core archive taxon fields"
currently, only scientific name. Sergey (@jemmybutton) suggested to also include higher order ranks such as kingdom, family etc. Also include taxonomy provider if possible.

[2014-05-01 23:39] #50 closed, assigned to KatjaSchulz

[2014-05-02 18:49] #24 closed, assigned to nobody

[2014-05-02 18:54] #53 closed, assigned to nobody

[2014-05-07 17:21] ahhurlbert opened #63 "stomach contents data from VertNet"
Predator prey links could be pulled out of VertNet.org. The DynamicProperties field of the Darwin Core often contains a phrase "stomach contents:" or "stomach contents=" followed by prey items.

I assume it would be straightforward to pull all of this info out through their API.

[2014-05-08 19:17] jhpoelen opened #64 "Raymond et al. 2011 contains out-of-range longitudes and latitudes"
Please see attached log file that indicates records that contains out-of-range longitude latitude values.

[code]

[2014-05-09 04:48] #64 closed, assigned to nobody

[2014-05-13 22:27] jhpoelen opened #65 "suggest to integrate with NCEAS's interaction web"
As suggested by @ahhurlbert:

Just wondering whether you all at GLOBI are familiar with the NCEAS-based effort of several years ago called [Interaction Web](http://www.nceas.ucsb.edu/interactionweb/resources.html).

I searched the first reference of Interaction Web (Ollerton et al. 2007) and it is not listed in the GLOBI references, so it seems not.

I think this effort has petered out in recent y

[2014-05-14 18:59] jhpoelen opened #66 "publish GloBI's interaction ontology"
We have a draft of an interaction ontology, but haven't yet formalized it. Suggest to formalize the interaction ontology and publish such that it is easy to browser and re-use. In this way, we have an easy way to answer a commonly asked question: Is there an biotic interaction ontology can re-use?

@cmungall how do you suggest to tackle this issue?

[2014-05-14 19:36] #66 closed, assigned to nobody

[2014-05-15 08:54] jemmybutton opened #67 "Suspected invalid interactions — parasites"
Following bird species are said to be parasites, which seems unlikely:
Tringa semipalmata: http://api.globalbioticinteractions.org/taxon/Tringa%20semipalmata/parasiteOf
Calidris mauri: http://api.globalbioticinteractions.org/taxon/Calidris%20mauri/parasiteOf
Larus occidentalis: http://api.globalbioticinteractions.org/taxon/Larus%20occidentalis/parasiteOf
Egretta tricolor: http://api.globalbioticin

[2014-05-20 22:48] jhammock opened #68 "Small dataset, snails parasitic on corals"
http://www.ascidians.com/oio/corals.htm (ascidians@hetnet.nl)

The author is an EOL content partner already; likely to be friendly and may have the same dataset (or a larger one?) more tabulated somewhere. To find it in his thesis docs, looks like there are tables in chapters 4, 7 (table 2) and 9, and a few more relationships could be tracked down in chapter 5 w/keyword "Habitat:"

[2014-05-20 23:06] jhammock opened #69 "assorted parasites of starfish & kin"
also small, most species pairs are in tables, others scattered through the docs (OCR text)

http://www.int-res.com/articles/dao/2/d002p147.pdf
http://www.int-res.com/articles/dao/2/d002p205.pdf

I will now stop stumbling over marine parasites.

[2014-05-28 16:23] jemmybutton opened #70 "Provide downloadable list of all taxa in GloBI including hierarchies and taxonomies used"
Sometimes it is difficult to make sense of data in DCA without taxonomic data on all entries, especially considering different sources where this data comes from (EOL, WoRMS). Format of taxon.csv (now almost empty) is too restrictive for this purpose, since it has fixed number of columns for ranks (kingdom/phylum/class/order/family/genus/species) and seems to be designed to represent only one taxo

[2014-05-31 02:00] jsgosnell opened #71 "Adding data to interaction query"
It'd be useful if the interaction style queries (http://api.globalbioticinteractions.org/interaction?...includeObservations=true) provided more data (similar to queries led by http://api.globalbioticinteractions.org/taxon/.../includeObservations=true).  Specifically, I’d like to see data on location (lat/long/altitude), data source, and life stage included.
For example, I'd like to use the followi

[2014-06-05 17:02] jhpoelen opened #72 "Missing References on Encyclopedia of Life Pages"
EOL uses the GloBI Darwin Core Archive (aggregated by study) to ingest interaction data. It seems that after the ingestion around May 30th, the citations for specific interactions are missing the reference to the original study, although the data source is listed. For instance, GoMexSI recorded that an atlantic croaker ate anchovies. This association shows up on http://eol.org/pages/994841/data ,

[2014-06-05 17:13] #49 closed, assigned to nobody

[2014-06-05 17:55] #67 closed, assigned to nobody

[2014-06-05 19:15] jhpoelen opened #73 "suggestion for re-mapping "non-annelids""
Current mapping is:
non-annelids -> Haplodrili

Suggested mapping:
non-annelids -> Archiannelida

It seems that taxonomies like ITIS are preferring the latter.

@BrianHayden please let me know what you think!

[2014-06-05 19:17] jhpoelen opened #74 "suggested re-mapping of ascidians"
Current name mapping:
ascidians -> Ascidiacia

Suggested name mapping:
ascidians -> Ascidiacea

@BrianHayden since you provided initial mapping, please let me know if you agree with this re-mapping.

[2014-06-05 19:20] jhpoelen opened #75 "need mapping for name "n.a./other cephalopods""
@BrianHayden Please confirm that the mapping from term "n.a./other cephalopods"  to "Cephalopoda" is desired.

[2014-06-11 11:52] #74 closed, assigned to nobody

[2014-06-11 11:57] #75 closed, assigned to nobody

[2014-06-12 17:23] #73 closed, assigned to nobody

[2014-06-12 17:55] jhpoelen opened #76 "detect life history stage terms included in taxon identification text"
As suggested by @BrianHayden :

I am working through the taxonNameCorrections.csv file now, making changes in github. Some of the issues are based around life history stage e.g. Catfish eggs. While correcting these I have changed the corrected term (Siluriformes) but we should also include the life history stage. Saying something eats catfish eggs is very different fro saying it eats catfish! I st

[2014-06-12 19:49] jhammock opened #77 ""no:match""
What does "no:match" mean in the taxa sheet of the DwC-A archive? It appears beside about 1500 normal-looking EOL taxon IDs as the scientific name. I checked a couple of the IDs and they do seem to exist, but the records don't map to their pages since (alas, as you know) we read the scientific name, not the EOL taxon ID. Many of the records have ended up on this newly created page: http://eol.org/

[2014-06-13 23:31] #77 closed, assigned to nobody

[2014-06-25 18:07] #72 closed, assigned to nobody

[2014-06-25 22:11] #54 closed, assigned to nobody

[2014-06-25 22:14] #71 closed, assigned to nobody

[2014-06-26 02:32] #76 closed, assigned to nobody

[2014-07-03 16:15] jhpoelen opened #78 "add Barents Sea food web from Planque et al. 2014"
as suggested by @jebyrnes

http://www.esajournals.org/doi/abs/10.1890/13-1062.1

[2014-07-03 20:43] jhpoelen opened #79 "add new darwin core export with taxon roll-up to taxon rank of order."
as discussed with @jhammock @JRice

Currently, GloBI produces two darwin core archives. One with all interaction observations and other with distinct interaction observations aggregated by study.

In the future, we'd like to introduce an additional one. This darwin core archive expands the interaction observations for lower order taxa up to the taxon rank of order. This would make it easier for Gl

[2014-07-03 20:54] jhpoelen opened #80 "manage discoverable EOL collections to summarize diet of popular taxa"
as discussed with @jhammock and @JRice

EOL provides a way to group taxa into collections. To take advantage of search engines (e.g. EOL internal, google, bing, yahoo), GloBI will automatically create and update collections using a (not yet existing) EOL Collections API for popular taxa and their diet.

For example, for the popular taxon page "Seals", a collection will be created that includes a l

[2014-07-07 22:11] #78 closed, assigned to nobody

[2014-07-10 19:11] jhpoelen opened #81 "integrate with Mangal"
In an [OpenTree hack-a-thon idea discussion](https://github.com/OpenTreeOfLife/hackathon/issues/13), @tpoisot and I @jhpoelen connected to explore ways to connect [Mangal](http://mangal.uqar.ca/) with GloBI. I've opened this issue to keep track of the collaboration and promote discussion.

[2014-07-11 21:02] #62 closed, assigned to nobody

[2014-07-14 19:41] #58 closed, assigned to nobody

[2014-07-22 23:51] cmungall opened #82 "ttl dump: don't include no:match"
<BFO_0000066-of-1642144-> rdf:type OBO:ENVO_00000303,OBO:ENVO_00000447,OBO:ENVO_01000020,http://purl.obolibrary.org/obo/no:match,owl:NamedIndividual .

the fake no match URL should be excluded. If it's important to state that there was a concept with no match, it may be acceptable to either (1) connect to the root node ENVO_00000428 or (2) use the spire URI directly.

But it's simpler to omit it.

[2014-07-24 20:22] #82 closed, assigned to cmungall

[2014-08-05 21:22] ahhurlbert opened #84 "automatic integration of Avian Diet Database"
Hi @jhpoelen! Getting ready for a new crew of undergrads to keep adding to our Avian Diet Database this fall. For now, we'll try to do this by hosting it as a .csv on Github [here](https://github.com/hurlbertlab/dietdatabase), so feel free to suck this file (AvianDietDatabase.csv) into GloBI with whatever frequency makes sense.

Eventually, I'd still like a data entry interface that can assist wit

[2014-08-12 21:11] #84 closed, assigned to nobody

[2014-08-14 23:08] jhpoelen opened #85 "integrate lionfish diet data by Morris and Akins (2009)"
Potentially interesting spatiotemporal diet dataset for lionfish (_Pterois volitans_), an invasive species in Bahamian archipelago .

See http://graysreef.noaa.gov/science/publications/pdfs/morris_akins_2009.pdf

Authors not yet contacted.

[2014-08-19 22:15] jhpoelen opened #86 "support Atlas of Living Australia API for taxon matching"
GloBI ingests data from [Species Interactions of Australia](http://ala1.science.unsw.edu.au/) . Some taxa used in this dataset are not available through EOL, WoRMS or GlobalNames.

Suggest to support [Atlas of Living Australia API](http://api.ala.org.au/#) to resolve taxon names.

[2014-08-28 15:26] #86 closed, assigned to nobody

[2014-08-28 15:35] jhpoelen opened #87 "Link to http://opentreeoflife.org taxa"
Link GloBI to http://opentreeoflife.org taxa to support the following workflow:
1. find parasite-host pair
2. retrieve phylogenetic subtree for both parasite and host
3. analyze and visualize the common properties of parasite and host.

First pass of linking is using previously resolved gbif, ncbi taxon ids and cross referencing against the [Open Tree of Life Reference Taxonomy](http://files.opent

[2014-08-29 15:04] jhpoelen opened #88 "Exclude non-taxa EOL pages from taxon name matching"
It seems that the EOL API has “Other” listed as an alternate name for “Unidentified”. And “Unidentified” has a "NCBI Taxonomy” classification too. (see http://eol.org/pages/2913255/overview). GloBI is unaware that this page is not a taxon, and simply treats it like one because it has a "valid" classification.

As suggested by @KatjaSchulz

_[...] Several of our classification providers give us bog

[2014-09-12 16:03] #87 closed, assigned to nobody

[2014-09-12 19:14] jhpoelen opened #89 "Interactions from Byrnes without references excluded GloBI"
As discovered after author Jarrett Byrnes @jebyrnes found that purple urchins (_Strongylocentrotus purpuratus_) diet was missing prey. For instance, prey item _Bossiella orbigiana_ was missing.

After some investigation, I found that interactions without reference in https://github.com/jhpoelen/eol-globi-data/blob/master/eol-globi-data-tool/src/main/resources/org/eol/globi/data/byrnes/supplementar

[2014-09-12 19:32] jhpoelen opened #90 "Support interaction type [symbiontOf]"
As suggested by @bobthacker:

[code]

Related to https://github.com/OpenTreeOfLife/hackathon/issues/13 .

[2014-09-15 04:26] #89 closed, assigned to nobody

[2014-09-17 12:14] jhpoelen opened #91 "integrate fig/wasp data by Cruaud et al. 2012 or similar"
As suggested by @bobthacker:

_Here's also a published study on figs/wasps that I would love to replicate in Arbor/OpenTree/GloBI, because it is awesome for teaching: http://sysbio.oxfordjournals.org/content/61/6/1029.full_

Related to issue https://github.com/lukejharmon/traitathon/issues/15 .

[2014-09-17 22:15] jhpoelen opened #92 "add chipmunk - parasite interaction data of Kayce Bell"
@kayce shared her unpublished raw data on chipmunks and their parasites.

The data will soon appear in GloBI with source reference:

_Bell, K.C. 2014. Sucking lice and pinworms of western North American chipmunks. Unpublished raw data._

[2014-09-19 14:09] ammatsun opened #93 "Provide character information in charJSON format"
charJSON is being used by PhyloJIVE and its formal specification can be found at:
http://trin.github.io/phyloJIVE/charJSONFormalSpec.html

There are also some examples at:
http://trin.github.io/phyloJIVE/about_charJSON.html

[2014-09-19 17:24] jhpoelen opened #94 "integrate with http://phthiraptera.info/ taxonomy for sucking and chewing lice"
as suggested by @kayce

this would match species in genus Hoplopleura

[2014-09-19 17:25] jhpoelen opened #95 "populate the GBIF, IF name matches in the name suggestion list on globalbioticinteractions.org"

[2014-09-22 17:12] jhpoelen opened #96 "add parasite - host data set Strona et al. 2013"
As suggested by @jhammock:

_The Ecological Archives have just revised their licensing policy, and they are likely to have some datasets you will like, eg: http://www.esajournals.org/doi/abs/10.1890/12-1419.1_

[2014-09-22 17:25] #96 closed, assigned to nobody

[2014-09-22 17:32] #92 closed, assigned to nobody

[2014-09-22 18:36] #36 closed, assigned to nobody

[2014-09-22 18:39] #31 closed, assigned to nobody

[2014-09-25 04:38] #91 closed, assigned to nobody

[2014-10-01 21:42] jhpoelen opened #97 "use EOL collection API as taxon query parameter"
As suggested by Jeff Holmes:

After creating EOL collection with list of taxa, use EOL collection id in GloBI query to define list of taxa.

Something along the lines of:

http://api.globalbioticinteractions.org/interaction?sourceTaxon=EOL:COLLECTION:123&interactionType=preysOn

to get a list of all prey of the provided list of predators as included in the EOL collection.

[2014-10-03 11:31] jhpoelen opened #98 "integrate with HOSTS - a Database of the World's Lepidopteran Hostplants"
Comprehensive dataset containing Lepidopteran Hostplants associations. At first glance, data can only be accessed by humans using web forms.

@jhammock @KatjaSchulz has EOL ever attempted to integrate with HOSTS?

[2014-10-07 19:07] seltmann opened #99 "Interaction data from Tri-Trophic TCN project"
Hoping to have the TTD_TCN DwC-A online soon with our version of an associatedTaxa Extension

(outlined here: https://docs.google.com/spreadsheet/ccc?key=0AvHeAV_gLFNsdEhtVjRkSUdxUmk3WXJvWmtLSGVRNlE&usp=drive_web#gid=0)

We hope to merge our fields with GloBi DwC-A for a unified vision of what a formal associatedTaxa Extension might look like.

[2014-10-15 15:22] jhpoelen opened #100 "integrate with iSpot - southern africa: your place to share nature"
Sent following email to the iSpot team using http://www.ispot.org.za/contact_us

----
Hi!

I was hoping to integrate the species interaction data as recorded on iSpot into Global Biotic Interactions (GloBI, http://globalbioticinteractions.org). This way, the iSpot interaction data can be easily used by others for scientific and educational purposes. I've created an issue (https://github.com/jhpoel

[2014-10-16 00:47] #88 closed, assigned to nobody

[2014-10-23 00:30] #95 closed, assigned to nobody

[2014-10-30 17:19] #61 closed, assigned to nobody

[2014-10-30 17:37] #33 closed, assigned to nobody

[2014-10-30 18:39] jhpoelen opened #101 "integrate with EOL-Environment"
@BrianHayden wanted to have a way to separate marine fishes from fresh water fishes. EOL has environment data for taxa in trait bank, however . . . the data not yet easily accessible programmatically for large batch (>1000 taxa) processing. This is why we are proposing to integrate directly with EOL-Environments (http://environments-eol.blogspot.com/) since they have a Darwin Core Archive availabl

[2014-11-05 22:26] jhpoelen opened #102 "integrate with ENHanCEd - a Infectious Diseases Database"
Just stumbled across McIntyre et al. 2013 (http://dx.doi.org/10.1016/j.prevetmed.2013.07.002) in which an infectious diseases database is described.

From the abstract:
```[...] The ENHanCEd Infectious Diseases database (EID2) is open-access and evidence-based, and it describes the pathogens of humans and animals, their host and vector species, and also their global occurrence. [...]```

I've atte

[2014-11-13 01:41] jhpoelen opened #103 "integrate with http://kelpforest.ucsc.edu"
Now that http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0109356 is published, I am hoping that we can find a way to expose their data through GloBI.

Have not contacted author yet.

Note that an earlier attempt lead to Jarrett Byrnes sharing his kelp forest dataset. From http://globalbioticinteractions.org/references.html :

[code]

[2014-12-05 18:29] tmitchell1 opened #104 "Gomexsi data moved"
created repository at gomexsi/interaction-data @jhpoelen please point importer to new location

[2014-12-05 23:56] #104 closed, assigned to nobody

[2014-12-09 18:23] #68 closed, assigned to nobody

[2014-12-14 17:01] #30 closed, assigned to nobody

[2015-01-02 01:49] jhpoelen opened #105 "Preston et al. 2012. Food web including infectious agents for a California freshwater pond."
Possible new interaction data:

Daniel L. Preston, Sarah A. Orlofske, John P. McLaughlin, and Pieter T. J. Johnson. 2012. Food web including infectious agents for a California freshwater pond. Ecology 93:1760. http://dx.doi.org/10.1890/11-2194.1

[2015-01-02 01:51] jhpoelen opened #106 "Thieltges et al. 2011. Food web including metazoan parasites for a tidal basin in Germany and Denmark. Ecology 92:2005."
http://esapubs.org/archive/ecol/E092/172/
David W. Thieltges, Karsten Reise, Kim N. Mouritsen, John P. McLaughlin, and Robert Poulin. 2011. Food web including metazoan parasites for a tidal basin in Germany and Denmark. Ecology 92:2005.

[2015-01-02 01:52] jhpoelen opened #107 "Mouritsen et al. 2011. Food web including metazoan parasites for an intertidal ecosystem in New Zealand. Ecology 92:2006."
http://esapubs.org/archive/ecol/E092/173/
Kim N. Mouritsen, Robert Poulin, John P. McLaughlin and David W. Thieltges. 2011. Food web including metazoan parasites for an intertidal ecosystem in New Zealand. Ecology 92:2006.

[2015-01-02 01:53] jhpoelen opened #108 "Zander et al. 2011. Food web including metazoan parasites for a brackish shallow water ecosystem in Germany and Denmark. Ecology 92:2007."
http://esapubs.org/archive/ecol/E092/174/
C. Dieter Zander, Neri Josten, Kim C. Detloff, Robert Poulin, John P. McLaughlin, and David W. Thieltges. 2011. Food web including metazoan parasites for a brackish shallow water ecosystem in Germany and Denmark. Ecology 92:2007.

[2015-01-02 19:10] jhpoelen commented on #103
Beas-Luna, R., Novak, M., Carr, M. H., Tinker, M. T., Black, A., Caselle, J. E., … Iles, A. (2014). An Online Database for Informing Ecological Network Models: http://kelpforest.ucsc.edu. PLoS ONE, 9(10), e109356. doi:10.1371/journal.pone.0109356 is now included in GloBI.

[2015-01-02 20:29] jhpoelen commented on #94
@kayce @jhammock it seems that the sucking lice of genera Hoplopleura are now successfully resolved to a taxonomy (in this case ITIS, http://eol.org/pages/398080).

[2015-01-02 20:29] #94 closed

[2015-01-02 21:01] jhpoelen commented on #90
@bobthacker I've implemented a first pass at a general interaction type (symbiontOf, interactsWith) as suggested. The feature should be available within a week or so.

Note that any interaction is currently interpreted to be a symbiotic interaction. This includes but is not limited to predation, parasitism, pathogens.

Hopefully, this feature is useful. If not, please let me know.

[2015-01-02 21:01] #90 closed

[2015-01-12 20:00] jhpoelen opened #109 "create dataset template examples using JSON-LD, Turtle and W3C HCLS"
As discussed with @cmungall :

Now that we have a way to [federate datasets using GitHub] (http://github.com/globalbioticinteractions/template-dataset) in GloBI, we'd like to include support for two other data formats: JSON Linked Data [JSON-LD](http://www.w3.org/TR/json-ld/) and Terse RDF Triple Language [Turtle](http://www.w3.org/TR/turtle/) as data formats. Also, we'd like to use [HCLS Dataset

[2015-01-13 18:13] jhpoelen commented on #79
@jhammock just produced first pass at a darwin core archive with inferred interactions between taxa up to taxonomic rank ```order```. You can find an archive [here](https://globi.s3.amazonaws.com/snapshot/target/eol-globi-datasets-1.0-SNAPSHOT-darwin-core-aggregated-roll-up.zip).

with the current implementation, all permutations between taxonomic ranks are used to infer interactions. For instance

[2015-01-13 19:20] cmungall commented on #79
If space is an issue, then instead of `N* × M*`, what about `N* × M ∪ N × M*`? i.e. 4+5 rather than 4*5 tuples in this case.

i.e. you wouldn't have `Primates ate Canidae`

Advantages: queries of the form "what interacts with X" (where X can be higher level taxa like primates or canids) could be directly supported using pre-inferred assertions.

Disadvantages: queries of the form "does X interact

[2015-01-13 22:09] jhpoelen commented on #79
@cmungall thanks for your suggestion. As far as I am concerned size is not an issue: the compressed archives are pretty manageable. Also, the expansion occurs during the darwin core export: the internal graph model does not contain explicit taxon expansion yet.

@jhammock is a 5x increase in size compared to existing archive an issue for the EOL ingestion pipeline?

[2015-01-14 18:30] jhammock commented on #79
Excellent :) Jorrit's description at the top of the thread sounds like expected behaviour. We are agnostic to GBIF's validator but our own is a good predictor of success: http://services.eol.org/dwc_validator/

5x the current GloBI resource file is emphatically not a problem. I also haven't heard of DwCA taking lists of occurrences, though EOL may someday have ambitions to do that onsite. We have

[2015-01-14 18:48] jhpoelen commented on #79
@jhammock Thanks for chiming in. Also, thanks for letting me know about the empty archives. This was a mistake and they should be available in about 5 mins. Sorry for the inconvenience.

[2015-01-19 18:10] jhpoelen commented on #101
After contacting the author, I've learned that EOL-Enviroment has extracted environment terms from text associated with specific taxon. However, the nature of the relation between the specific taxon and the environment terms is not documented. This means that an association of a term "marine" to species X might mean: species X has been recorded in a marine environment, but might also indicate that

[2015-01-19 18:10] #101 closed

[2015-01-20 23:16] jhpoelen commented on #79
EOL now includes the roll-up archive. A short sanity check confirmed that the roll-up data is included as requested: [True Seals (Phocidae) family taxon page](http://eol.org/pages/7666/overview) and [Carnivora order taxon page](http://eol.org/pages/7662/overview) now include a wealth of species interaction data. However, the page for [Mammalia class taxon page](http://eol.org/pages/1642/overview)

[2015-01-20 23:16] #79 closed

[2015-01-22 19:52] jhammock commented on #80
Hi, all! I created a collection to represent what our immediate use case (GloBI II, checklist generator) for the collections write api would be: http://eol.org/collections/113457  (seal food!) These needs are pretty modest, no annotations, no order, no objects other than taxa. It does have a collection description. I remember asking for a collection metadata field that could be invisible, but look

[2015-01-22 20:08] JRice commented on #80
Yes... if you give me a few days to think about it and work on it!  :D

(BTW: Good stuff! Thanks.)

On Thu, Jan 22, 2015 at 2:52 PM, Jen Hammock <notifications@github.com>
wrote:

[2015-01-22 21:38] jhpoelen commented on #80
Thanks for sharing example @jhammock .

At quick glance, GloBI should be able to generate most information elements in the http://eol.org/collections/113457.json response.

Currently, the example contains the following description:
[code]

parsing this would be:
[code]
I am assuming that ```phocids``` is another way to writing the scientific name ```Phocidae```. Is there some existing translation

[2015-01-22 22:31] jhammock commented on #80
Thanks, Jeremy!

Jorrit: yeah, generating the "Phocids" style names may be a several iteration exercise. It'll depend on which rank the taxa are for which we want to create these collections, and some are probably more uniform in that sense than others. Which brings me to the previous task- generating that list of taxa. Let me paw through your summarized (EOL) GloBI resource taxa file and think ab

[2015-01-26 17:28] jhpoelen commented on #85
@proopnarine just checking in about lionfish data . . . are you ready to share the data?

[2015-01-26 17:55] jhpoelen opened #110 "resolve invalid ITIS taxa to their valid taxa"
Some species interaction data sources use taxon ids that have been marked as invalid by the taxonomy used. For instance, [KerpForest database](http://dx.doi.org/10.1371/journal.pone.0109356) uses an [ITIS taxon id 167353](http://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=167353) (_Scorpaenichthys marmoratus_  (Girard, 1854)) that has been marked as invalid. ITIS does pr

[2015-01-26 18:13] jhammock commented on #110
Invalid names aren't available in the API? I'm very surprised. Is this for all the hierarchies you're using, Jorrit? You mentioned ITIS and WoRMS. WoRMS wasn't sending us their unaccepted names until very recently, so they couldn't have been available via EOL even a few months ago...

[2015-01-26 18:18] jhammock commented on #110
Have you been using this service? http://eol.org/api/docs/hierarchy_entries  There's a synonyms parameter. Is that not working or does it slow things way down? Still, going forward it's more a question of ensuring the synonyms are available in the data dump Jeremy is preparing, yes?

[2015-01-26 18:27] jhpoelen commented on #110
@jhammock You are fast!

Here's the sequence of requests:
lookup ITIS taxon id 167353 using ```http://eol.org/api/search_by_provider/1.0/167353.json?hierarchy_id=903``` yields response ```[]```

However, for ITIS taxon 180547 sea otter (_Enhydra lutris_), a "valid" ITIS taxon, a http get request for ```http://eol.org/api/search_by_provider/1.0/180547.json?hierarchy_id=903``` responds ```[{"eol_pag

[2015-01-26 18:42] jhammock commented on #110
Oh, I see. Of course, you start from an unaccepted name, and you can't go the other direction using search_by_provider?

I imagine using a query like [http://eol.org/api/search/1.0.json?q=Mustela+lutris] is less desirable, assuming you already at this point in the process have some way to know which name (according to ITIS, or WoRMS, or someone) you are dealing with, and can avoid some homonym iss

[2015-01-26 18:53] jhpoelen commented on #110
Yep. The idea is that a taxon id is more desirable than a name string. If there's an id available in addition to a (human readable) name, the id is used to do the taxon matching. In the particular example, the common name ```cabezon``` was provided, along with it's ITIS id 167353. Using the common name to do taxon resolving is possible, but less desirable in my opinion, even if the taxon id is mar

[2015-01-26 19:27] jhammock commented on #110
I see. Yes, if that's what your providers are giving you, then there's only one way to go, and the best possible workaround requires an extra hit to the (ITIS) API and risks a homonym match back on EOL. Stand by...

[2015-01-26 21:07] jhpoelen commented on #80
@jhammock I took some time to write a first pass at automatically generating a collection title and description. One thing I created was a list of expected "commonized" taxon names (e.g. Phocidae -> phocids). I am hoping that you can help extend this list to include a good sample to cover most cases. You can find the list [here](https://github.com/jhpoelen/foragus/blob/master/src/test/resources/na

[2015-01-26 21:27] jhammock commented on #80
Looks like I have access. Do you need just the based-on-the-latin commonized names in there? These usually only occur at family or higher, I think. Still wrapping my brain around how this pattern works, but in any case the list is not terribly long at the high ranks.

[2015-01-26 21:58] jhammock commented on #80
I think I have a slightly better idea: Can you rely on our API (or Jeremy's new dump) for common names? I can just figure out what these are and add them in a one time resource. You'll want to use other common names too, after all. We may need to figure out if we need to draw the line somewhere on how many common names to use, but I think it might be fine to use them all.

[2015-01-27 06:47] proopnarine commented on #85
Hi Jorrit,

I think so. I have two sets of data. The first are compiled from a number of published studies. The second is based on our predictive modelling. I will send you the first set, and the second when we eventually have it submitted. These data are integrated into the coral reef data that you've already incorporated.

Peter

Dr. Peter D. Roopnarine, Curator of Geology
Chair, Department of I

[2015-01-27 16:27] jhpoelen commented on #85
@proopnarine  looking forward to incorporating your contribution. If you feel adventurous, you can even try to share it using a github repository. You can find some details about that there: https://github.com/globalbioticinteractions/template-dataset/ . Otherwise, please send me a link / archive.

[2015-01-27 23:47] jhammock commented on #80
revised sample collection info:

{"title": "True Seal Food",
"description": "what do true seals eat?
what do phocids eat?
what do phocidae eat?
what do true seals prey on?
what do phocids prey on?
what do phocidae prey on?
what do true seals hunt?
what do phocids hunt?
what do phocidae hunt?
true seal prey
phocid prey
phocidae prey
true seal food
phocid food
phocidae food"}

[2015-01-28 01:36] jhpoelen opened #111 "include api call for listing the interactions available for a specific taxon"
as suggested by @coding46

To enable a smart selection of interactionTypes in a taxon search, a method should be implemented that returns the interactions types available for a particular taxon. For instance, if only trophic interactions for taxon A are available, a list with elements containing "ate" or "eatenBy".
Suggest to extend the existing http://api.globalbioticinteractions.org/interactionT

[2015-01-28 21:28] JRice commented on #80
So I've been working on the write API (sometimes it's easier to just *do*
it, sometimes it's easier to think about it; since there are technical
hurdles, this turned out to be one of the former).

The good news is twofold: First, this isn't going to be all *that* hard. A
little hard. ...But not too bad. Second, Dima tells me SSL shouldn't be
hard to add once we move the servers (about a month from

[2015-01-29 18:47] jhpoelen commented on #80
@JRice thanks for your update. All sounds pretty good. Would it be easier if I simply put a batch of collections expressed in json in a public place for eol to consume? This would mimick the current harvest strategies for content providers. In a way, I can argue that collections is "meta" content: collections of associated taxa. Would this approach help simplify the development effort?

[2015-02-03 03:50] jhpoelen opened #112 "integrate with PESCI database"
section from:
Young, J. W., Lansdell, M. J., Hobday, A. J., Dambacher, J. D., Cooper, S., Griffiths, S. P., ... & Revill, A. (2009). Determining ecological effects of longline fishing in the Eastern Tuna and Billfish Fishery. CSIRO Marine and Atmospheric Research.
includes pp. 307
[code]

Authors not yet contacted.

[2015-02-04 13:01] JRice commented on #80
Sorry, I was moving last week, didn't have time to respond until now. :\

No, ingesting a JSON file wouldn't actually be any easier to implement than
exposing an API. Thanks for the thought, though. ...And, honestly, I'm not
a huge fan of our content harvesting strategy, so it's not something i want
to mimic at the moment. :D

On Thu, Jan 29, 2015 at 1:47 PM, Jorrit Poelen <notifications@github.co

[2015-02-04 13:14] millerse commented on #106
I can help with this one, if you would like.

[2015-02-04 15:46] jhammock commented on #80
Thanks, J! Good to know.

Yikes- you moved in the storm? Go take a nap.

[2015-02-04 16:18] jhpoelen commented on #106
Hi Sarah! @millerse - good to hear from you and thanks for offering to help integrate this dataset. This particular reference seems structured enough to be mapped programmatically. The advantage of doing this, is that whenever changes come in, or correction are made (either in data or the mapping), it is easy to redo the work. Would you happen to have programming experience? If so, please let me k

[2015-02-04 17:48] millerse commented on #69
Hey Jorrit, @jhpoelen here is one of those articles that Jen @jhammock posted above: https://github.com/millerse/Diseases-of-Echinodermata.-I./tree/master

[2015-02-04 18:12] jhpoelen commented on #69
@millerse Wow - you are fast!

Couple of comments:

 1. to ensure inclusion in GloBI (and EOL), please fork a repository from http://github.com/globalbioticinteractions/template-dataset and update the globi.json, data files, repository name and README,md with appropriate info.
 2. In line 30 of interactions.tsv, you mentioned ```Bald-sea-urchin disease``` and ```parasite of```. Assuming that this

[2015-02-04 18:14] millerse commented on #69
Will do!

[2015-02-04 18:46] jhpoelen commented on #69
Great! One more thing . . . if possibly try to reuse the geonames ids for locality ids. This way, we can point to an existing definition.

Example:
Barents Sea is available at http://www.geonames.org/630674/barents-sea.html, where the geonames locale id is 630674 and the (English) locale name is Barents Sea. Also, you can see that decimalLatitude and decimalLongitude is (lat,lng) (74, 36). In the

[2015-02-04 18:58] cmungall commented on #69
It seems two distinct taxa may be responsible:

https://en.wikipedia.org/wiki/Bald_sea_urchin_disease

I don't know if it's valid to swap out the disease row for two rows with each taxon (probably not - different parasites may be responsible in different locales)

How about having different kinds of triples (sorry if I'm complicating things..)

 1. tax-[interacts with]->tax (with relation coming f

[2015-02-04 18:58] cmungall commented on #69
I don't know if this helps but I have considered before auto-generating an invertebrate disease ontology from https://en.wikipedia.org/wiki/Category:Animal_diseases

[2015-02-04 19:23] jhpoelen commented on #69
@millerse does the source material mention which taxon caused the cases of ```Bald-sea-urchin disease``` reported at specific location? If so, I suggest to use the taxa instead with ```pathogen of ``` interaction type. If not, I'd suggest to leave the name as is, and revisit as soon as we have a good way to encode this.

@cmungall could you please provide an example is a separate archive on how to

[2015-02-05 10:14] coding46 opened #113 "[FEATURE] Web API method for for interaction sources"
For the generic implementation of the eol-globi-js widget it would be helpful if the is a method which retrieves *distinct* taxon names for sources of observed interactions (including the usual parameters for type and location).

http://api.globalbioticinteractions.org/taxon?type=xyz would be great.

For sure there are other ways right now. But for initial data retrieval of big areas the result wo

[2015-02-05 10:58] coding46 commented on #113
Nevermind, parsing of whole world data is quick enough to do it in real time browser based via http://api.globalbioticinteractions.org/interaction. I'll implement a method in eol-globi-data-js.

[2015-02-05 12:11] coding46 commented on #113
Sorry for spamming, but there is no way to do this in a browser based manner, because if the huge amounts of data. My first try looked hopefully until I realized that I only got 1024 results. :) Raising the limit parameter is not an option amount of data runs high to soon.

[2015-02-05 14:31] millerse commented on #69
@jhpoelen The source material does not mention which taxon causes Bald-sea-urchin disease.  I suppose I should just use the Bald-sea-urchin disease in the taxon field.

[2015-02-05 15:56] jhpoelen commented on #69
Sounds good! Thanks for checking.

[2015-02-05 16:24] jhpoelen commented on #113
@coding46 thanks for your suggestion

Just to be sure: by ```sources of observed interactions``` do you mean _locations_ of observed interactions?

[2015-02-05 16:36] jhpoelen opened #114 "darwin core taxon export for infraspecies leaves no place for species rank"
@jhammock As I was preparing for a talk today, I was poking around data related to southern sea otter ([_Enhydra lutris neiris_](http://eol.org/pages/1251487/overview)). I noticed that the expected food item red rock crab ([_Cancer productus_](http://eol.org/pages/317369/overview)) did not appear as expected on eol data page for the otter.

I checked the darwin core taxa export and found this line

[2015-02-05 19:20] jhammock commented on #114
uh oh. I'm only partly following you, but that doesn't sound good. I'm not sure what you mean is missing from tdwg, since http://rs.tdwg.org/dwc/terms/taxonRank exists.  Regardless, EOL should not treat taxa below species rank (supspecies, varieties, anything that's a child of a species level taxon) differently from other taxa in a systematic way. It's possible that somewhere in our background syn

[2015-02-06 16:28] jhpoelen commented on #114
It seems that there's no column / taxon term in Darwin Core to describe the ```species``` name specifically. This means that for an sub/infraspecies the taxon term http://rs.tdwg.org/dwc/terms/#scientificName is used along with http://rs.tdwg.org/dwc/terms/taxonRank . In our example, this means that _Enhydra lutris neiris_ is available in the http://rs.tdwg.org/dwc/terms/#scientificName and ```Inf

[2015-02-06 18:55] jhammock commented on #114
I see what you mean. The species epithet as a parent taxon in the higher taxonomy does not have a column. So we are treating all the infraspecific taxa differently. Darn.

Hmm... Now I'm finding data records on one of these taxa:

http://eol.org/pages/1238193/data#data_point_18181598

There are also data records on its grandparent genus, though, which may be a result of this. So something is amiss

[2015-02-07 01:47] jhpoelen commented on #114
The example you pointed out,  Lesser Black-backed Gull (_Larus fuscus graellsii_) is a subspecies taxon. As far as I can tell the ```subspecies``` are ingested correctly. The ```infraspecies``` taxa however seem to be ingested at the ```genus``` level, even though the records are present in the GloBI darwin core archive. Can you confirm this behavior? If so, it sound like a pretty minor ingestion

[2015-02-07 05:34] jhpoelen commented on #113
@coding46 I made a first pass at the functionality that I think you are asking for.

You can now do things like:

http://api.globalbioticinteractions.org/taxon?bbox=-67.87,12.79,-57.08,23.32

http://api.globalbioticinteractions.org/taxon?bbox=-67.87,12.79,-57.08,23.32&interactionType=parasiteOf

and distinct taxa are returned. Note that paging is enabled by default, so you might have to consider g

[2015-02-07 09:48] coding46 commented on #113
@jhpoelen Thanks for the functionality. I'm trying out if it fits our needs.

First thing I discovered is an issue for type=json.v2 which returns the correct structure, even then length of the result is correct. But there are no values in it. Looks like a caching issue.

http://api.globalbioticinteractions.org/taxon?bbox=-67.87,12.79,-57.08,23.32&interactionType=parasiteOf&type=json.v2

[2015-02-07 10:15] coding46 commented on #113
I did first checks. Here are the results and follow up questions. I transformed the example into the json.v2:

Exerpt:
[code]
This could be a lot shorter for our current needs. F.x. 'name' and 'external_id' are redundant date cause they appear in 'taxon_path' and 'taxon_path_ids'. And the 'taxon_path_names' is nothing we currently in need. But nevertheless one might need all those data for another

[2015-02-07 17:40] jhpoelen commented on #113
@coding46  Thanks for your feedback.

Now, something like:

http://api.globalbioticinteractions.org/taxon?bbox=-67.86,12.79,-57.08,23.32&field=taxon_common_names&field=taxon_path

will return something like:

[code]

I hope this suits your needs. Please close issue unless you have some more suggestions.

PS Note that older request urls will return cached responses, they should go away in 24 hours

[2015-02-07 17:45] coding46 commented on #113
@jhpoelen This is great, thanks a lot.

[2015-02-07 17:45] #113 closed

[2015-02-07 22:33] cmungall commented on #113
Very minor comment, so I'm not reopening. How set in stone is the json format? Can we `s/taxon_path_names/taxon_path_ranks/`

[2015-02-07 22:40] coding46 commented on #113
@cmungall From my frontend only perspective - if it fits better into the terminology - it's okay changing it.

[2015-02-08 00:55] jhpoelen commented on #113
[taxon_path_names] is now [taxon_path_ranks]

hope this makes it a bit cleaner.

[2015-02-09 18:07] jhpoelen commented on #80
@JRice @jhammock I've created a project called [foragus](https://github.com/jhpoelen/foragus). This is  a little tool that queries (or forages) GloBI and builds eol collections from a list of provided popular eol page ids.

Currently, the collections are generated whenever a file [popular_eol_page_ids.csv](https://github.com/jhpoelen/foragus/blob/master/src/test/resources/popular_eol_page_ids.csv)

[2015-02-09 18:30] jhammock commented on #80
The collection info looks lovely, thanks, Jorrit. Everything I need is in there, plus "sort_field":"12" on every item. I'm mildly curious what that's for.

[2015-02-09 18:33] jhpoelen commented on #80
@jhammock glad to hear that the name, descriptions and items looks good!

@JRice is it okay to remove the ```sort_field ```. I added it in there, because it was in your example.

[2015-02-09 19:07] jhammock commented on #114
Hmm... are you sure about the subspecies? I'm finding about half of... Oh, never mind. We neglected to create an inverse relationship on EOL between pathogen of and has pathogen. Those do seem to be fine now. Let me find out if "infraspecies" is actually a thing. Now that I think about it I'm not sure. It may be that that rank aught to be mapped to subspecies...

[2015-02-09 19:33] jhammock commented on #80
Ah- Other users may find sort field useful for writing to collections, of course. But I don't think we need it for the interactions collections...

[2015-02-09 19:35] jhammock commented on #114
Okay, it looks like infraspecies is an adjective. "Infraspecies phylogenetic issues" means any issues having to do with a species or any child taxa below it. Some of our partners probably use it as a rank label of convenience. If you can send me a list of all the taxa you have in it, I'll do some spot checks, but if the sample in this post originally is representative, you can just call them subsp

[2015-02-09 19:36] millerse commented on #65
@jhpoelen I am going to try and tackle this one.  I should get you a new set in a day or two to see how the set looks.

[2015-02-09 20:16] JRice commented on #80
(In a meeting, sneaking in quick answer:)

Yes, you can remove the sort_field, it is *not* required.

On Mon, Feb 9, 2015 at 1:33 PM, Jorrit Poelen <notifications@github.com>
wrote:

[2015-02-09 22:09] jhpoelen commented on #65
@millerse sounds great! Let me know if you have any questions. I'd suggest to clone a fresh repository (with a different name) specifically dedicated to this *huge* data set.

[2015-02-10 02:35] jhpoelen commented on #114
Here's a few infraspecies. Please confirm that these can be referred to as ```subspecies```.

Thanks for looking into this.

 |taxon.name|taxon.externalId
---- | ---- | ---- | ----
1|Cyprinodon variegatus variegatus|EOL:1283276
2|Haliotis kamtschatkana kamtschatkana|EOL:1238315
3|Rangifer tarandus groenlandicus|EOL:1268552
4|Rangifer tarandus tarandus|EOL:1240157
5|Campylobacter jejuni doylei|EOL:

[2015-02-10 02:59] jhammock commented on #114
Not as neat as I was hoping for, but I think we should go ahead. The
animals and bacteria are indeed subspecies. Looks like the plants and fungi
are mostly varieties, but since they lack the "var." in the name, I doubt
sorting them out and giving them their right rank would map them much
better. I found at least one example on EOL where a "var." and a
"var."-free interpretation of the same name di

[2015-02-10 03:33] jhpoelen commented on #114
Mapping rank value ```Infraspecies``` ---> ```Subspecies``` in darwin core taxon export. Changes should appear after first GloBI data ingestion.

Please re-open if you have any concerns.

Thanks!

[2015-02-10 03:33] #114 closed

[2015-02-13 20:26] jhpoelen opened #115 "provide API that to enable iNaturalist to list external site links by observation."
as suggested by @loarie at Citizen Science conference http://citizenscienceassociation.org/conference/ :

Currently, iNaturalist annotates observations that are shared with GBIF with a little icon. (see attached screenshot from http://www.inaturalist.org/observations/563486). GloBI includes iNaturalist records that describe interactions and these shared records are used by EOL (among others). The

[2015-02-13 20:43] jhpoelen commented on #69
@millerse you contributions made are now available through GloBI. Thanks for helping make this interaction data available! Please re-open this issue if you have concerns / issues.

from http://globalbioticinteractions.org/references.html

![screen shot 2015-02-13 at 12 40 39 pm](https://cloud.githubusercontent.com/assets/1084872/6194918/e0d9b668-b37d-11e4-8b0d-1de63b6629ee.png)

[2015-02-13 20:43] #69 closed

[2015-02-14 00:44] jhpoelen commented on #100
At Citizen Science Conference 2015 11-12 Feb 2015 in San Jose, California, USA, I got the opportunity to talk to Jonathan Silvertown. He said that iSpot data is currently shared with the UK National Biodiversity Network (UK NBN), and UK NBN shares with GBIF. However this includes occurrence data, not interaction data. No current plans exist to include machine readable interaction data records.

[2015-02-14 00:44] #100 closed

[2015-02-14 00:47] jhpoelen commented on #111
Has been implemented.

[2015-02-14 00:47] #111 closed

[2015-02-14 00:50] jhpoelen opened #116 "integrate with American Gut Project"
from [American Gut Project](http://americangut.org):
"You’ve probably heard by now that the trillions of microbes living on and in our bodies are changing both the way we think about health and disease and even how we define Self. Ever wonder what’s in your gut? Ever wonder how your diet might shift your gut microbes (for better or worse), or how simple lifestyle decisions may have a dramatic impa

[2015-02-14 01:05] cmungall commented on #116
There are a lot of gut microbial datasets out there, and more broadly metagenome.

In theory we could use these to derive microbe-microbe pairs (e.g. based on finding in the same body part) but this would explode globi and it's not clear what the use case would be

But I assume you're thinking more of microbe to host associations, possibly also qualified with environment (here a body part from ube

[2015-02-14 01:26] kueda commented on #115
That would work. And it can be paginated, pretty sure that's how the GBIF system works. Does GLOBI store the data themselves, or do you guys just store your data on EOL? We could just link to you guys instead, or as well.

[2015-02-14 01:51] jhpoelen commented on #116
Thanks for peeking at the data and yep, I was thinking about microbe to host associations within host environment. Remaining question: (a) should we pursue host-microbe interactions at this point? and (b) if we do, which available dataset would be informative to link to the existing body of species interactions? Curious to hear your thoughts.

[2015-02-16 20:55] jhpoelen commented on #115
Great! I'll get an initial version up and running so that you can poke and give feedback. My current thinking is to provide a GloBI endpoint with redirects to GloBI data consumers (like EOL).

[2015-02-16 22:44] jhpoelen opened #117 "integrate with National Biodiversity Network taxonomy webservice"
https://data.nbn.org.uk/Documentation/Web_Services/Web_Services_Examples/REST/Taxon_Search/

Now that Malcolm Storey (http://bioinfo.org.uk) has linked his taxa to NBN taxon ids, GloBI can cross-reference the taxa with the National Biodiversity Network taxonomy.

@jhammock any plan of EOL to integrate with NBN taxonomy?

[2015-02-16 22:56] jhammock commented on #117
No recent communication with NBN, though we may well have talked with them back in the early days. I don't see anything about terms of use, though that might mean they default to not asserting copyright. Have you heard anything explicit?

[2015-02-16 23:01] jhpoelen commented on #117
I haven't heard anything explicit. I am assuming that the API is open for anyone to use, since no account is required for access. If it were the case, it is trivial to remove the integration.

[2015-02-16 23:01] jhammock commented on #117
that is usually a good sign. I'll ask Eli to have a look :)

[2015-02-17 18:48] jhpoelen commented on #117
NBN integration added to GloBI. Whenever a NBN taxon code/id is encountered, the taxon is cross referenced with NBN.

[2015-02-17 18:48] #117 closed

[2015-02-17 18:52] jhpoelen commented on #115
@jrice @jhammock Other than resorting to html-scraping, does EOL provide a method to list all data points associated to a specific reference? For instance, for reference pointing to http://inaturalist.org/observations/563486, I'd like to list all data point uri's available. In this case, that would include http://eol.org/pages/317369/data#data_point_16695406 .

[2015-02-17 19:30] JRice commented on #115
We do not have a way to get that query (from the outside world).

It's not a bad idea, though, so I'll keep this in mind as we work on the
API for traits...

On Tue, Feb 17, 2015 at 1:52 PM, Jorrit Poelen <notifications@github.com>
wrote:

[2015-02-18 18:02] jhpoelen commented on #110
@jhammock I've implemented the suggested workaround. Please consider this issue an example of a eol taxon conciliation feature request: include the unaccepted ids and attempt to connect them to their accepted taxon when someone is using the unaccepted id. Thanks for the discussion, closing issue.

[2015-02-18 18:02] #110 closed

[2015-02-18 18:37] jhpoelen opened #118 "Do Sea Otters really eat American Beavers?"
This question came up during http://blog.globalbioticinteractions.org/2015/02/11/tea-at-berkeley-institute-for-data-science/ .

The interaction data originated from Animal Diversity Web (ADW, http://animaldiversity.org) through the Semantic Prototypes in Research Ecoinformatics (SPIRE) provided by Joel Sachs and Cyndy Parr.

After reaching out to Joel and Cyndy, @csparr determined that Sea Otters

[2015-02-18 18:42] diatomsRcool commented on #118
I think the problem is the assumption that this is a predator prey
interaction. More likely it is some sort of competition. The
interactions in this data set do not imply interaction type, only that
an association exists.
a

On 2/18/2015 1:37 PM, Jorrit Poelen wrote:

--
Anne E. Thessen, Ph.D.
The Data Detektiv, Owner and Founder
Ronin Institute, Research Scholar
443.225.9185

[2015-02-18 18:54] jhpoelen commented on #118
@diatomsRcool More likely than not, the interaction data was mined from this data object: http://eol.org/data_objects/10540245 (see attached image). I am not aware of any other location on eol that mentions the disputed interaction. Please do let me know if the interaction was mined for another source.

Now that the data object in question has been hidden by @csparr , I would expect that the inter

[2015-02-18 19:52] diatomsRcool commented on #118
Fix made. You can update whenever you want.
a

On 2/18/2015 1:54 PM, Jorrit Poelen wrote:

--
Anne E. Thessen, Ph.D.
The Data Detektiv, Owner and Founder
Ronin Institute, Research Scholar
443.225.9185

[2015-02-18 20:26] jhpoelen commented on #118
@diatomsRcool thanks for acting so quickly on this! the changes should propagate in GloBI within a day or so.

[2015-02-18 23:50] jhpoelen commented on #115
@JRice Thanks for your prompt reply!

@jhammock you might also be interested in being able to link back into eol on the trait level in context of upcoming projects.

Just to be complete:

We need is a way to translate a trait id retrieved from http://eol.org/api/traits/317369 (see snippet below) into some URL that resolves / redirects (e.g. http://eol.org/pages/317369/data#data_point_16695406) . T

[2015-02-19 00:40] JRice commented on #115
If you are willing to install Virtuoso, you can download our entire
TraitBank triple-store <http://opendata.eol.org/eol_virtuoso/>.

[2015-02-19 00:57] jhpoelen commented on #115
I'll have a look . . . thanks!

[2015-02-19 05:09] csparr commented on #118
And to be fair, it can't be taken as a given that the error was ever on ADW. We could have messed up when we originally dumped the predator-prey data for SPIRE, or at some point subsequent to that.

ADW doesn't have any specifically machine readable endpoint other than the current export for EOL (see below).  At one point Joel generated RDF for each of the pages, but I think that's been taken down

[2015-02-19 11:57] JRice commented on #115
Oh! I see, now. That's easy.  :D  (Sorry for not parsing this last night.)

That ID you're looking for is called the data_point_uri_id (and I didn't
add it because, as you say, it's mainly an internal id) ...I'll try and add
it to the API for our next deploy, since it should be quite simple to do so.

Also, counterintuitively, that ID will NOT be in the Virtuoso database I
pointed you to last nigh

[2015-02-19 15:54] jhpoelen commented on #115
@JRice thanks for re-parsing my comment - I am looking forward to being able to link directly into an EOL trait to enable a link between iNaturalist interaction records and EOL taxon trait.

Two questions:
1. Which API will it be added to? Traits or non-trait api?
2. When will be the next deploy?

[2015-02-19 16:51] JRice commented on #115
Traits. Again, it should show up as a "data_point_uri" field on each of the
traits for a page.

It *should* be live tomorrow after 9 ET.

Don't get used to a 48-hour feature implementation.  ;)

[2015-02-19 16:53] jhpoelen commented on #118
@csparr thanks for giving some context to the situation.

I've sent an email to Roger and requested access to a machine readable version of ADW. I am hoping it can be as simple as downloading an archive (ms access db perhaps?).

Meanwhile, I'll prevent the offending record to be ingested from SPIRE by GloBI. Since the process is automated and the SPIRE resource has been archived, this is not too m

[2015-02-19 16:53] #118 closed

[2015-02-19 16:56] jhpoelen commented on #115
Thanks!

No worries about the feature delay - I know we'll get faster at implementing new features ; ) .

[2015-02-21 00:03] jhpoelen commented on #80
@mariestuder - thanks for your feedback in our meeting earlier today . . . could you please provide detailed on how you'd like to the link the collection description to the relevant trait pages?

[2015-02-23 17:54] mariestuder commented on #80
I think the consensus was that the Collection Description should be linked to the Data Tab on a taxon page, rather than the Overview Tab.  The Data Tab contains information more specifically of interest to a user looking at, or wanting to use, the interaction data.

If others agree, we could come up with language in the Collection Description that informs users that by following the link, they wil

[2015-02-23 18:11] jhpoelen commented on #80
@mariestuder Thanks for sharing - I agree this link to the data tab of the taxon page would be useful.

My suggested language for the additional description would be:

[code]

Would this be sufficient?

[2015-02-23 18:18] mariestuder commented on #80
@jhpoelen I think that should cover it.  Unless we also want to specify that they can also find additional information (will they?  will there be other sources of interaction data found on the data tab that are not in the Collection?).

If they will find "new", additional information then we might tweek the language to say:  Please visit (link) data page for more detailed information and data from

[2015-02-23 18:22] jhammock commented on #80
I dig it, but I think the hint that they'll find other stuff is also a good idea. Not so much non-GloBI interactions data (there's almost none of that) as other traits/attributes about Phocidae...

[2015-02-23 18:24] jhpoelen commented on #80
Sounds good. Should we make this implied "from GloBI" assumption explicit by saying:

Please visit (link) data page for more detailed information and data from sources other than GloBI (link to GloBI).

Agree?

[2015-02-23 18:41] mariestuder commented on #80
Humm.  That now brings up two thoughts:
 1.  I like the explicit GloBI shout out.  It makes it very clear to the user where the source of the Collection.

2.  I like Jen's comment clarifying that the user can find other trait data.

Maybe as the intro to the Collection, we say something like:  This collection of (interaction) data was automatically generated from (or supplied by, etc) the GloBI da

[2015-02-23 18:47] jhammock commented on #80
+1

[2015-02-23 19:58] jhpoelen commented on #80
I've updated the collection generation tool. For bears (Ursidae), the following description was generated:

_This collection was automatically generated from [Global Biotic Interactions](http://globalbioticinteractions.org)</a> (GloBI) data. Please visit [this data page](http://eol.org/pages/7664/data) for more detailed information about the GloBI interaction data and to find other trait data for

[2015-02-23 23:24] mariestuder commented on #80
This looks great to me, although I have one additional change.  Can you please add "EOL" before "this data page"?  Like this:  Please visit this EOL data page for more.......

That way users know they are staying on EOL and that is the resource they are being directed to.

Once that change is done, I'm happy with it all.  Thanks!

[2015-02-23 23:34] jhpoelen commented on #80
@mariestuder I've applied your suggestion . . . thanks!

[2015-02-23 23:41] mariestuder commented on #80
Wonderful!  Thanks!

[2015-02-25 13:09] millerse commented on #65
@jhpoelen Sorry for the delay. I have all of the tables in a single interaction file.  The link is here: https://github.com/millerse/IWDB

Let me know if there are any concerns.

[2015-02-25 13:26] millerse commented on #105
There appears to be a nice programable set for this dataset: http://esapubs.org/archive/ecol/E093/153/default.htm

[2015-02-25 15:30] jhpoelen commented on #65
@millerse wow! I am very impressed! If my count is correct, you've just added 38,022 interactions. I find that very impressive given the limited time that you did this in and the fact that the formats of the source were mostly all different.

I'll run some tests and let you know what I'll find.

[2015-02-25 17:46] jhpoelen commented on #65
@millerse I am working under the assumption that when decimalLatitude, decimalLongitude and localityId are provided, the decimals would provide most accurate info. Would you say this is a safe assumption?

[2015-02-25 17:52] millerse commented on #65
Yes.  There were records where the lat long was included in the original publication.

[2015-02-25 19:45] jhpoelen commented on #115
I got around to collecting  provider / consumer url pairs (see sample below). It turned out to be quite laborious . . .

Here's a subset of the url map:

provider url | consumer url
 --- | ---
http://inaturalist.org/observations/1110546 | http://eol.org/pages/70995/data#data_point_17809879
http://inaturalist.org/observations/1070857 | http://eol.org/pages/70995/data#data_point_17955668
http://inat

[2015-02-25 20:35] JRice commented on #115
something we're happy about, but clearly it's the case. :\ There's nothing
"wrong" with the query, it's just something that needs serious work in
terms of the efficiency of the algorithm.  Sorry!  :S

errors in the past 48 hours due to some seriously heavy queries we're
running. ...Probably will be for the next two days, too.  :\

I am really sorry this is such a hassle, and I really appreciate yo

[2015-02-25 20:55] kueda commented on #115
Well, I don't just want a static file of iNat IDs that you email me or something. I want that list published online where I can harvest it regularly, so I think that corresponds to your first implementation. Are there no globi URLs for these things? If we get EOL URLs we will show that an observation has been integrated into EOL, not globi. If you'd prefer globi, I'll need a mapping to globi URLs,

[2015-02-25 21:39] jhpoelen commented on #115
You can find the most recent provider-consumer url pairs here:
https://raw.githubusercontent.com/jhpoelen/backwarden/master/provider-consumer.csv

GloBI does not provide any URIs at this point, so until we do, please feel free to link to EOL directly. The data tab on EOL does say where the data comes from, so the link with GloBI is not entirely lost.

Note that the pairs also include non-inaturali

[2015-02-26 00:20] kueda commented on #115
I can use that. How often do you plan to update it? Also, is it safe
to assume iNat observations that are not in that file are *not* on
EOL?

On Wed, Feb 25, 2015 at 1:39 PM, Jorrit Poelen <notifications@github.com> wrote:

[2015-02-26 00:41] jhammock commented on #115
Good question, Ken-Ichi. EOL does also have images from all your Research Grade observations which are appropriately licensed. Shall I have our connector guru, Eli construct a similar list for those? They would point to EOL image pages, eg: http://eol.org/data_objects/31533815
You will likely end up with some observations appearing in both lists. Would that be a problem?

[2015-02-26 00:46] kueda commented on #115
Not a problem if they have different URLs, but the same requirements:

1. Need access to a file or a paginated API endpoint where we can retrieve a mapping of iNat observation IDs to stable URLs on the other site
1. Either need to be able to assume the data available from this source represents all the iNat data integrated into the collection so we can delete linkages for iNat observations that we

[2015-02-26 02:28] jhpoelen commented on #115
@kueda We can setup a GitHub commit hook to hit a iNaturalist URL each time the links change. I would expect this to happen at about a monthly schedule, but can't guarantee exact timing. Would this be practical?

Also, about the completeness of the iNaturalist observations that appear on EOL as shared through GloBI - currently, I am relying on GloBI to pick the candidate taxon pages on which iNatu

[2015-02-26 13:00] JRice commented on #115
Hmmmn. An interesting idea which I hadn't considered before. Not too
difficult to implement, but not sure where it would fall in priorities. Let
me make a ticket for it, regardless.

[2015-02-26 17:05] jhammock commented on #115
@kueda Just checking: the images on EOL currently carry source links back to the photo page on iNat, eg: http://www.inaturalist.org/photos/1234032. You'd rather have a list of observation IDs to post these links on, not photo IDs? I can imagine, now that I think about it, you getting a stack of records for an observation which bears 6 photos, all sent to EOL. Would you rather have that, or would y

[2015-02-27 21:03] kueda commented on #115
@jhpoelen no need for a commit hook, we'll just keep it simple and retrieve it on regular schedule.

[2015-02-27 21:55] jhpoelen commented on #115
@kueda sounds good. Pls poke me if the integration is ready/ causing troubles.

[2015-02-28 05:44] kueda commented on #115
Hm, now that I'm tested this there are a couple issues.

1. One observation documenting a single interaction seems to map to multiple interactions on EOL, e.g. http://www.inaturalist.org/observations/1158453 maps to http://eol.org/pages/5870542/data#data_point_16720422, http://eol.org/pages/32539/data#data_point_16720192, and http://eol.org/pages/472631/data#data_point_17585196, even though they'r

[2015-03-02 12:19] millerse commented on #65
@jhpoelen Morning Jorrit,
Hope that this dataset is looks good.  I was wondering if there were any new datasets that you can let me sink my teeth into?

Sarah

[2015-03-02 14:55] millerse opened #119 "Interactions from Smithsonian Botany Department"
There are a few publications on the Smithsonian site that I think globi could use:
https://repository.si.edu/handle/10088/18379

[2015-03-02 15:58] jhpoelen commented on #119
@millerse Looks like a nice integration dataset. Just curious - why did you close it?

[2015-03-02 16:01] millerse commented on #119
I thought it was too small.

[2015-03-02 16:03] jhpoelen commented on #65
@millerse dataset looks great so far - the GloBI ingestion process takes a while (~ 30 hours) and I am expecting that your newly added dataset will be up on http://globalbioticinteractions.org shortly. As soon as it is, I'll close the issue. Hope that makes sense, and thanks for being patient.

[2015-03-02 16:10] millerse commented on #65
@jhpoelen
Thank you.

[2015-03-02 17:17] jhpoelen commented on #105
@millerse I very much agree! I wish we could figure out a way that would allow you look at the tabular files and assign the columns to biologically meaningful concepts such as taxon name, location, life stage, and interaction type. I imagine these file-column assignments live in a file on GitHub and help GloBI to understand how to read the source data. This way, we could still automate the transfo

[2015-03-02 18:43] jhpoelen opened #120 "create a way to show usage of contributed data by data consumers / tools"
Create a page / method to show those sharing data (i.e. data providers) how the data is used by data consumers (e.g. Encyclopedia of Life) or how to find the data using GloBI tools (e.g. rglobi, web api).

If data provider resource can be accessible through a url, this landing page should contain a relation between this url and provider urls. For instance, an inaturalist observations accessible at

[2015-03-02 18:50] jhpoelen commented on #115
Thanks for sharing these issues!

**Re 1. one-to-many mapping** of iNaturalist observations. I can see your point and agree it is a bit strange to have multiple icons pointing to all the places where the inat interaction is referenced. A GloBI page pointing to all the different customer urls would provide a nice way to show folks how their interaction is used without cluttering the iNaturalist UI,

[2015-03-02 19:27] millerse commented on #105
@jhpoelen
The other option is to create an access database that can combine the information together to a seamless csv file.  There are files on the site that define what each row means.  Assuming that all of the other datasets have the same headers and information, it should be really easy for me to create a form for globi.

[2015-03-02 20:19] jhammock commented on #105
Fun! Since this appears to be a static resource, I would hazard a guess that Sarah's suggestion is more practical.

Hmm... trying to see if I get what you were suggesting, though, Jorrit: in cases where the source of the data updates, we usually handle renewable harvests with PHP scripts like in https://github.com/eliagbayani/eol_php_code/commit/cd154b90d432fc103e574cdea021e22e148808c6

A lot of w

[2015-03-02 22:07] jhpoelen commented on #105
@jhammock Thanks for sharing your experiences . . . the "renewable harvest" approach is the one that GloBI embraces for (semi)-structured data. Reason is not only that data might be updates / corrected, but (perhaps more importantly) being able to re-do the harvest (or ingestion / import) is key to being able to fix or improve a in the import code / ingestion process. Over the coarse of this proje

[2015-03-02 22:27] cmungall commented on #105
@jhpoelen - related to your dreamy rant - there are a gazillion ETL frameworks for extracting tabular data into some kind of normalized form. Of the subset of these that choose RDF as their target representation I quite like WebKarma. But if i was doing this myself I'd almost always script it, there are usually so many tweaks that need done (in my experience) you need to fall back from the declara

[2015-03-03 01:13] jhpoelen commented on #105
@cmungall I have similar experience ETL (extract, transform and load) frameworks - usually just too many exceptions between different data sources . . . but I find it very tempting to believe that there's some magical solution out there. . . how about something along the lines of having a scriptable dataset along the lines of: https://github.com/globalbioticinteractions/template-scriptable-dataset

[2015-03-03 03:57] jhpoelen opened #121 "Weidinger et al. 2009. Nest predators of woodland open-nesting songbirds in central Europe"
As found in http://io9.com/yes-this-is-a-photo-of-a-weasel-riding-a-woodpecker-in-1689046593?utm_campaign=socialflow_io9_twitter&utm_source=io9_twitter&utm_medium=socialflow .

http://onlinelibrary.wiley.com/doi/10.1111/j.1474-919X.2009.00907.x/abstract?systemMessage=Wiley+Online+Library+will+be+disrupted+on+7th+March+from+10%3A00-13%3A00+GMT+%2806%3A00-09%3A00+EST%29+for+essential+maintenance.++A

[2015-03-03 21:03] jhpoelen commented on #65
Just had a peek at GloBI and ... your IWDB data transcription looks wonderful! Some numbers: ~38k recorded interactions across ~5k distinct taxa from ~50 studies. Nice!

Not available on eol.org yet, but that be just a matter of time. Closing issue.

snippet from http://globalbioticinteractions.org/references.html :
![screen shot 2015-03-03 at 12 53 55 pm](https://cloud.githubusercontent.com/asset

[2015-03-03 21:03] #65 closed

[2015-03-03 21:07] jhpoelen commented on #65
@ahhurlbert thanks to @millerse IWDB is now available through GloBI!

[2015-03-03 22:24] ahhurlbert commented on #65
Fantastic!

From: Jorrit Poelen [mailto:notifications@github.com]
Sent: Tuesday, March 03, 2015 4:07 PM
To: jhpoelen/eol-globi-data
Cc: Hurlbert, Allen Hartley
Subject: Re: [eol-globi-data] suggest to integrate with NCEAS's interaction web (#65)

@ahhurlbert<https://github.com/ahhurlbert> thanks to @millerse<https://github.com/millerse> IWDB is now available through GloBI!

—
Reply to this email d

[2015-03-04 12:08] millerse commented on #121
@jhpoelen

Happy to do this!

[2015-03-04 16:18] millerse commented on #121
@jhpoelen

So I have the online publication ready to go: https://github.com/millerse/Weidinger-et-al.-2009

[2015-03-04 16:20] millerse commented on #105
@jhpoelen

I am willing to learn some coding so that I can see if I make your idea happen.  I will take a look around.  The only hiccup would be making sure that all the datasets from that site are in the same format with the same headers.

[2015-03-04 21:48] jhpoelen commented on #121
Nice! You are quite fast . . . I'll let you know when the dataset in available and close issue after that.

[2015-03-04 21:50] jhpoelen commented on #105
Good to hear that your are willing to learn some coding. I do realize that the example I have might be a bit unclear . . . let me think about it a bit more. Ideally, we'd want to have something that allows for easy mapping of columns to standard terms (taxon names, ids, locations, references).

[2015-03-05 16:13] jhpoelen commented on #116
Closing issue - American Gut project seems a bit outside of GloBI's scope.

[2015-03-05 16:13] #116 closed

[2015-03-05 16:17] jhpoelen commented on #102
Gemina (or parts of it) is now available through GloBI. Hopefully, others will propose and introduce other promising pathogen-vector-host in separate issues. Thanks!

see http://www.globalbioticinteractions.org/#sourceTaxon=Yersinia%20pestis&interactionType=pathogenOf or:
![screen shot 2015-03-05 at 8 16 50 am](https://cloud.githubusercontent.com/assets/1084872/6508820/1264db26-c310-11e4-9c8a-bebd

[2015-03-05 16:17] #102 closed

[2015-03-05 17:58] kueda commented on #120
Yup, this is what I was describing. Actually, the primary information I'd like to see on such a page is the interaction supported by the source evidence, so that as an iNat user, I can go to GloBI and say, "I know my observation helped GloBI know that raccoons eat crayfish." Links out to EOL would be good too, but mostly the benefit for us at iNat is public, visible proof that our data helped you

[2015-03-05 18:58] kueda commented on #115
1. Cool, #120 looks good
1. We don't have bots, but you can add any additional fields you want, and add them to any observation. I suppose in theory you could write your own bot that uses our API to do this, but it would basically be performing the same mapping you're doing in https://github.com/jhpoelen/eol-globi-data/blob/master/eol-globi-data-sources/src/main/java/org/eol/globi/data/StudyImport

[2015-03-05 20:28] jhpoelen commented on #105
@millerse @jhammock @cmungall On inspection, it turned out that this and three other issues #106 #107 #108 were using a file structured similar to #50 . So, I reused the importer and enabled usage through the "hechinger" format: a practical example of why data format standardization is a good idea ; ) . I propose to let the automation discussion simmer until we hit another structured dataset - per

[2015-03-06 19:34] millerse commented on #105
@jhpoelen I did notice that those other issues shared a very similar structure.  For what it is worth, I was able to create an Access database and get all of the nodes and links connected.  The result was that all the datasets were linked into a single file.  There are still some things that need to be worked out for the import to be perfectly automated (such as all of the sheets having a tiny var

[2015-03-08 18:25] coding46 opened #122 "Normalize field names for different result type settings"
Given the following resources:
(1) http://api.globalbioticinteractions.org/interaction?type=json&interactionType=hasPathogen&limit=1
(2) http://api.globalbioticinteractions.org/interaction?type=json.v2&interactionType=hasPathogen&limit=1

Returned Fieldnames/-paths:
(1) "source_taxon_external_id", "source_taxon_name", "source_taxon_path", "source_specimen_life_stage", "interaction_type", "target_t

[2015-03-09 05:18] jhpoelen commented on #122
Thanks for sharing your idea. Just added name/value pairs for jsonv2 consistent with the json response. In order to make transition smooth, the old values in the json.v2 are still around. This means that some data will be duplicated. The result for api.globalbioticinteractions.org/interaction?type=json.v2&interactionType=hasPathogen&limit=2 looks like:

[code]

Once we settle on a data representat

[2015-03-09 16:33] jhpoelen commented on #121
Data now discoverable through GloBI.

[2015-03-09 16:33] #121 closed

[2015-03-09 16:34] jhpoelen commented on #108
Data now discoverable through GloBI.

[2015-03-09 16:34] #108 closed

[2015-03-09 16:34] jhpoelen commented on #107
Data now discoverable through GloBI.

[2015-03-09 16:34] #107 closed

[2015-03-09 16:34] jhpoelen commented on #106
Data now discoverable through GloBI.

[2015-03-09 16:34] #106 closed

[2015-03-09 16:34] jhpoelen commented on #105
Data now discoverable through GloBI.

[2015-03-09 16:34] #105 closed

[2015-03-09 17:54] jhpoelen commented on #85
As mentioned before @jhammock  contributed a manually transcribed version of Layman et al. 2012 here https://github.com/jhammock/Layman-and-Allgeier-Lionfish . Closing issue.

[2015-03-09 17:54] #85 closed

[2015-03-09 19:56] coding46 commented on #122
Hmm, now it's getting more complicated, cause of 2 different representations without a normalizing aspect if I get it right.

I thought more of a way like (just a raw idea):

json | json.v2
-----|--------
source_taxon_external_id | source_taxon.external_id
source_taxon_path | source_taxon.path
source_taxon_name | source_taxon.name
... | ...

I really like the idea of the deprecating strategy until

[2015-03-09 20:39] #122 closed

[2015-03-12 12:15] JRice commented on #110
Hey guys, this sounded like a fairly straightforward task until I started looking into it. I'm going to get moderately technical here, but I think it's at a level that's understandable.

Here's the query we're using now:

[code]

...At first, I assumed the problem was either with the ```published: true``` bit, or with the ```visibility: visible``` bit, so I removed both of them to find out... Howe

[2015-03-12 12:46] HudaSoliman commented on #110
Hi All,
Actually, we don't store the identifier of the invalid  ITIS record since it's stored just as a synonym not a hierarchy entry as in the page : (http://eol.org/pages/212214/names/synonyms )
We only store the identifier of the preferred synonym  in the hierarchy entry which makes the ITIS  invalid identifiers unavailable for us.
Thanks.

[2015-03-12 14:27] jhammock commented on #110
Wow; speedy follow up, Huda! Thanks for investigating, guys. If we acquire other API users who want to want to use provider IDs (I can imagine ITIS or certainly WoRMS wanting to use their own if they make use of our services, for instance) they'll probably also want to include their unaccepted synonyms. Those tend to have full records at the partner site; "unaccepted" is just a tag. Is it practica

[2015-03-12 20:51] jhammock commented on #80
Oof, making these by hand is tedious! Just made two more for demo purposes, so now we have seals, sea otters and river limpets:
http://eol.org/collections/113457
http://eol.org/collections/115123
http://eol.org/collections/115122

The latter two are equipped with the title and description supplied by the test JSON output. Jorrit, I had to change two things:

eg: <a href=\"http://globalbioticintera

[2015-03-12 21:26] jhpoelen commented on #80
@jhammock thanks for creating the collections. . . manually! Imagine this would be automated using . . . the new EOL collections API!

I've removed the newlines in the description. About the backslashes in the URLs - these are valid JSON escape characters, so any JSON parser would remove the backslashes automagically.

[2015-03-12 21:31] jhammock commented on #80
There's no keeping up with you, Jorrit...

I was thinking as an exercise tomorrow we could show people a picture of a sea otter or seal and ask them to inquire of EOL what this animal eats, to see how many find their way. Of course, no good way to set the task (that I can think of) without priming them with some version of the wording. Marie, what do you think? Not a very authentic test group of c

[2015-03-12 21:40] mariestuder commented on #80
Hey Jen!  (Hi Jorrit!)

I think having people do the search is a great idea.  You do have to prime them, but I think you can ask them to come up with different phrases to query EOL around the concept of "what seals eat".  I think they will have fun with it and people will have different ways of asking that.

Fun!

And, soon.....no more manual creation of these collections!!

Best,
Marie

---------

[2015-03-16 19:46] jhpoelen commented on #120
@kueda I have a first pass to show interaction according to a specific study or source. The idea to to add a query field ```accordingTo``` like:

http://www.globalbioticinteractions.org/#sourceTaxon=&interactionType=interactsWith&accordingTo=http%3A%2F%2Finaturalist.org%2Fobservations%2F196159

This now shows something like:
![screen shot 2015-03-16 at 12 35 15 pm](https://cloud.githubusercontent.

[2015-03-17 00:45] jhpoelen commented on #109
thanks @cmungall for create the template repository using jsonld in combination with community acccepted standards. Leaving issue open until GloBI imports the jsonld data repositories and exports *all* interaction data in the same jsonld syntax.

[2015-03-17 00:48] jhpoelen opened #123 "add pathogen-host interaction from animals disease ontology to GloBI using jsonld"
@cmungall suggested to export https://github.com/cmungall/animal-disease into a GloBI jsonld repository following examples published in https://github.com/globalbioticinteractions/jsonld-template-dataset .

[2015-03-18 18:06] coding46 opened #124 "[FEATURE] Add taxon_path_ids as default field"
Would be nice if 'taxon_path_ids' is a default return fields of the 'findCloseMatches' api call.

[2015-03-18 18:09] BrianHayden commented on #124
Hey jorrit,

Mails have been bouncing back from your xs4all.nl mailbox, which is apparently full.

Nothing too serious just some comments on the niche stuff, collaborators, data etc

B

Dr. Brian Hayden

Science Manager
Stable Isotope in Nature Laboratory (SINLAB<http://www.unb.ca/research/institutes/cri/sinlab/>)

Canadian Rivers Institute
Department of Biology
University of New Brunswick
Frederi

[2015-03-18 18:18] coding46 commented on #124
Reason:
- currently we choose the return fields by adding 'field=' parameters
- so it might happen that there is more than one parameter with the same name, which normally is treated as a single parameter
- this breaks certain libraries, as they expect distinct parameter names and merge those with identical ones

As I'm in need of this method with all those fields in it and the library I've chosen

[2015-03-18 19:37] jhpoelen commented on #124
@BrianHayden am cleaning up my mailbox . . . thanks for letting me know - I'll delete the comment when it is done. How creative to use github to reach me!

@coding46 : thanks for sharing this idea . . . happy to make a change and I am not quite sure about the use case, since I don't expect double use of a single param name. Could you please provide an example?

[2015-03-18 19:43] coding46 commented on #124
@jhpoelen
[code]
Here we have three times the parameter name 'field' which usually gets reduced into a single one.

[2015-03-18 19:56] jhpoelen commented on #124
Who does collapses the query param to a single value rather than turning them into an array (according to spec)? Is this a library that you are using?

The parsers I know of turn the duplicate keys into an array. I guess this is not clearly outlined in a spec if I have to believe an answer posted here: http://stackoverflow.com/questions/1746507/authoritative-position-of-duplicate-http-get-query-ke

[2015-03-18 20:16] jhpoelen commented on #124
Added default field as suggested. Perhaps we can discuss the repeated query param some other time. . .

[2015-03-18 20:16] #124 closed

[2015-03-18 20:17] jhpoelen commented on #124
E.g. http://api.globalbioticinteractions.org/findCloseMatches?taxonName=Plantae now includes field ```taxon_path_ids``` by default.

[2015-03-24 18:33] jhpoelen opened #125 "two decapoda taxon pages present in EOL - should they be merged?"
In GloBI, two separate Decapoda taxa are reported in EOL:

Decapoda http://eol.org/pages/10948079
Decapoda http://eol.org/pages/1183

@jhammock @KatjaSchulz should these two pages be merged?

[2015-03-24 19:08] seltmann opened #126 "Access TTD-TCN data from Darwin Core Archive?"
I have two darwin core files of specimen data now online for testing by idigbio, using our aec:associatedTaxa extension.

http://amnh.begoniasociety.org/dwc/

First step toward getting these interactions into EOL? I can produce a globi specific output, but need guidance.

This is not the permanent URL but there will be one after some testing is finished.

[2015-03-24 20:02] jhpoelen commented on #99
closing this duplicate issue. See #126 instead.

[2015-03-24 20:02] #99 closed

[2015-03-24 21:35] KatjaSchulz commented on #125
Indeed, fixed, at least for now: http://eol.org/pages/10948079

[2015-03-24 22:15] jhpoelen commented on #125
@KatjaSchulz Thanks for your quick response . . . closing issue.

[2015-03-24 22:15] #125 closed

[2015-03-24 22:57] jhpoelen opened #127 "include "basis of record" information to the interaction data"
@seltmann suggested that adding basis of record (similar to http://rs.tdwg.org/dwc/terms/#basisOfRecord) would be a useful addition to the existing interaction data information captured by GloBI. In fact, a similar question came up in a recent personal communication, along the lines of: How do I only select interaction records that were obtained through field observation or gut content analysis.

[2015-03-25 08:20] ClareGray commented on #127
Hi Jorrit, published papers on food webs often contain a blend of interactions they have discovered themselves, and ones harvested from the literature. Being able to distinguish between the two (sometimes this isn't possible without contacting the author) is important when re-using these links. An interaction that has been re-used many times and published many times might have only been observed (

[2015-03-27 18:16] jhpoelen commented on #120
@kueda please let me know if there's anything else you need to introduce the iNaturalist > GloBI link. I think this link would motivate folks to annotate their iNaturalist interactions and will (hopefully) help improve the translation of custom interaction fields into "standardized" interaction terms using ontologies like [RO](http://www.ontobee.org/browser/term.php?o=RO&iri=http://www.w3.org/2002

[2015-03-27 18:16] #120 closed

[2015-03-27 18:25] jhpoelen commented on #115
@kueda Because inaturalist observations can now be linked to GloBI using #120, I am closing this issue. Please feel free to re-open the issue if there's something blocking from making the link.

PS I hope to add links to specific EOL traits derived from interaction shared through GloBI (e.g. inaturalist observations) at some point in the future.

[2015-03-27 18:25] #115 closed

[2015-03-27 20:52] jhpoelen opened #128 "select data fields in api using ?fields=one,two,three"
Currently, data fields in api (see https://github.com/jhpoelen/eol-globi-data/wiki/API) can be selected using repeated ```field``` query parameter like:

http://api.globalbioticinteractions.org/interaction?interactionType=eats&sourceTaxon=Enhydra&field=source_taxon_name&field=target_taxon_name

However, in https://github.com/danielabar/globi-proto/issues/1#issuecomment-87067444 @danielabar suggest

[2015-03-27 20:54] danielabar commented on #128
Thanks this would be very useful if could be implemented :-)

[2015-03-27 21:01] jhpoelen commented on #128
@danielabar thanks for your suggestion, the functionality is now available as requested. Please re-open this issue if you see any issues / have questions.

[2015-03-27 21:01] #128 closed

[2015-04-06 00:13] kueda commented on #120
Just sat down to work on this, but it doesn't look like http://www.globalbioticinteractions.org/#sourceTaxon=&interactionType=interactsWith&accordingTo=http%3A%2F%2Finaturalist.org%2Fobservations%2F196159 is working. I see a blank page:

![screen shot 2015-04-05 at 5 12 55 pm](https://cloud.githubusercontent.com/assets/22691/6999243/099b2166-dbb7-11e4-9451-3121d4dc5770.png)

[2015-04-06 01:13] jhpoelen commented on #120
@kueda thanks for letting me know. I was able to reproduce and identify the root of the problem. Should be fixed now.
![screen shot 2015-04-05 at 6 12 53 pm](https://cloud.githubusercontent.com/assets/1084872/6999428/6d67a680-dbbf-11e4-86f9-488cf66c55a5.png)

[2015-04-06 01:16] kueda commented on #120
Thanks. Would it also be possible to use http://www.inaturalist.org/observations/xxxx instead of http://inaturalist.org/observations/xxxx, or at least have the Globi endpoint respond the same to both?

[2015-04-06 14:49] jhpoelen commented on #120
@kueda just updated the inaturalist observations references to your suggested format http://www.inaturalist.org/observations/xxx . This should take a couple of days to propagate. Hope this helps.

[2015-04-08 17:47] #119 closed

[2015-04-10 16:27] jhpoelen commented on #119
Thanks @millerse for your contributions ! On another note - assuming that our GitHub/GloBI method of sharing data is useful, how do you think we can best share and improve our methods in the ecology community? Blog? Article? Curious to hear your thoughts . . .

[2015-04-10 22:24] jhpoelen commented on #109
@cmungall please review the first pass for the jsonld importer I wrote [here](https://github.com/jhpoelen/eol-globi-data/commit/aebe51f88c8592020434ed68c4c1320262efa922). I suggest to only start exporting GloBI data is similar jsonld format if we have a consumer for the data. Please close issue if you are satisfied a this first pass. If not, please suggest what what else you'd like to include. Tha

[2015-04-10 22:32] jhpoelen commented on #34
Answering this question has been possible for a while using custom cypher queries. In fact, we've included Listing 2. Cypher query to find prey of Elasmobranchii in ecoregions that
include term “California.” in [Poelen et al. 2014](http://dx.doi.org/10.1016/j.ecoinf.2014.08.005).

[2015-04-10 22:33] #34 closed

[2015-04-10 22:42] jhpoelen commented on #93
I like the idea of using character matrices as a tool for downstream analysis. In this way occurrence / specimen level species interaction data from GloBI can be summarized at the taxon level. This said, I think this representation is out-scope of GloBI. Please feel free to re-open the issue if anyone has a specific use case that would benefit GloBI consumers or contributors. Thanks for the discus

[2015-04-10 22:42] #93 closed

[2015-04-14 01:44] jhpoelen commented on #126
@seltmann took a first pass at integrating the archives you provided (bees and tri-trophic): what a wealth of information! Wow!

I've built a generic importer for your darwin core archive extension. To incorporate an archive into GloBI, a GitHub repository may be created that contains a pointer to the archive and some minor configuration parameter. I've provided two examples [here](https://github.

[2015-04-14 15:36] jhpoelen commented on #120
@kueda changes have been propagated (attached image) . . . let me know if there's anything else you need to complete the inaturalist <> GloBI integration.
![screen shot 2015-04-14 at 8 31 17 am](https://cloud.githubusercontent.com/assets/1084872/7140634/3e9a451a-e281-11e4-90f0-8070c0fae666.png)

[2015-04-14 17:05] seltmann commented on #126
@jhpoelen
Sounds great!

---Am I correct to assume that the relationship terms / URIs will be populated as some point?
OOPS. Yes, that field should be populated and I have URI for all of the relations we are presently using. Need to fix and update. Should be able to update in the next few days so the URI appear. Will get back to you.

---Also, please let me know if you'd like me to either move or

[2015-04-14 18:00] jhpoelen opened #129 "search for Whales, Dolphins, and Porpoises (Cetacea) includes insect genus Lestes"
When searching for Whales, Dolphins, and Porpoises (Cetacea) using http://www.globalbioticinteractions.org/#sourceTaxon=Cetacea&interactionType=eats , an insect genus Lestes was included in the search results.

On close inspection, it turns out that Lestes has a homonym in the Cetacea order according to GBIF (see http://www.gbif.org/species/3240231). GloBI's integration with GlobalNames resolved t

[2015-04-14 18:06] jhpoelen commented on #129
Added a feature that prevents homonyms from being populated in the search index. If the taxa are found with a same name, higher order ranks are extracted and compared to the originally matched taxon. If either kingdom, phylum or class are different, the match is considered a homonym and is excluded from the results. For a test case, see https://github.com/jhpoelen/eol-globi-data/blob/9e2a76bc27753

[2015-04-14 18:06] #129 closed

[2015-04-14 18:53] jhpoelen commented on #126
@seltmann thanks for your detailed response.

**about updates** GloBI updates every day or so to changes in data sources should propagate in the order of days. It would help if you could publish archives that are available at a stable url (e.g. perhaps tcn...-current.zip ?). This way, we don't have to manually upgrade the urls each time a new version is available. If you have another suggestion on

[2015-04-15 00:43] kueda commented on #120
URL seems stable now, so I'll proceed, but another bug:

http://www.globalbioticinteractions.org/#interactionType=interactsWith&accordingTo=http%3A%2F%2Fwww.inaturalist.org%2Fobservations%2F131

links to

http://www.inaturalist.org/observations/1310192
http://www.inaturalist.org/observations/1310685
http://www.inaturalist.org/observations/131732
http://www.inaturalist.org/observations/131767

[2015-04-15 00:45] kueda commented on #120
https://raw.githubusercontent.com/jhpoelen/backwarden/master/provider-consumer.csv also seems to have a bunch of blanks in the provider column. Is that still the file you want me to use?

[2015-04-15 01:59] kueda commented on #120
Aaand one more: http://www.inaturalist.org/observations/432688 seems like it was in yoru CSV, but http://www.globalbioticinteractions.org/#interactionType=interactsWith&accordingTo=http%3A%2F%2Fwww.inaturalist.org%2Fobservations%2F432688 is blank.

[2015-04-15 02:05] jhpoelen commented on #120
@kueda thanks for noting that bug - should be fixed now: if a valid url is provided in the accordingTo, strict matching is applied.

Also, the reason why http://www.inaturalist.org/observations/131 didn't show is because the observation is not research grade. Only research grade observations are included.

**regarding linking directly into EOL** I'd suggest to hold off on the ```provider-consumer.

[2015-04-15 02:23] jhpoelen commented on #120
@kueda another good catch - http://www.inaturalist.org/observations/432688 should work now. Apologies for the blanks.

![screen shot 2015-04-14 at 7 21 27 pm](https://cloud.githubusercontent.com/assets/1084872/7151221/a7e049fc-e2db-11e4-96df-1355eb0cefce.png)

[2015-04-15 14:34] millerse commented on #119
@jhpoelen I can't think of anything at the moment.  I think you have a great system right now.

[2015-04-15 16:54] jhpoelen opened #130 "missing "has host" reference on eol.org Bumblebee (Bombus) data page"
It appears that most reference on eol data page http://eol.org/pages/104136 are present, and some are (mysteriously) missing.

While bumblebee host Spanish Daisy *Helenium amarum* has a source and reference:
![screen shot 2015-04-15 at 9 36 11 am](https://cloud.githubusercontent.com/assets/1084872/7164095/e63fbf1c-e352-11e4-966e-5728e3b6911e.png)

However, another two claims for bumblebee host *Ve

[2015-04-15 21:37] kueda commented on #120
I'm not planning on linking to EOL at all, but I am using https://raw.githubusercontent.com/jhpoelen/backwarden/master/provider-consumer.csv to determine which iNat observations have been integrated into GloBI, i.e. ignoring the EOL URLs but using the presence of an iNat URL to know when to create a link from iNat to GloBI. Isn't that what you want, or is there another way I should be getting that

[2015-04-15 21:52] jhpoelen commented on #120
One way to get the urls is to use something like:

http://api.globalbioticinteractions.org/interaction?accordingTo=inaturalist&field=study_url&includeObservations=true&limit=10&skip=0

or, if you like csv:
http://api.globalbioticinteractions.org/interaction.csv?accordingTo=inaturalist&field=study_url&includeObservations=true&limit=10&skip=0

The result is expected to list all studies (or observati

[2015-04-19 19:40] kueda commented on #120
Ok, just created a little over 4000 links, e.g. http://www.inaturalist.org/observations/404096. So far looks pretty good. New links will be added weekly.

Just a few more heads-ups: some observations that should have been indexed were not, e.g. http://www.inaturalist.org/observations/1150861. Some people don't really know how to use observation fields on iNat: http://www.inaturalist.org/observatio

[2015-04-19 21:28] jhpoelen commented on #120
@kueda thanks for making this work!

re: http://www.inaturalist.org/observations/1150861 - this observation is not (yet) research grade, so GloBI doesn't index it. Please do let me know if you find any research grade observations that GloBI didn't pick up.

I hope that our integration will help to identify suspect interactions that folks support and use the inaturalist comments to discuss them. He

[2015-04-20 16:30] jhpoelen opened #131 "include fuzzy taxon name matches to suggest name corrections"
In personal communication, @ahhurlbert suggested to include fuzzy taxon name matches for names that did not match again external taxonomies. These fuzzy name matches can then be used for data providers / curators to speed up the name correction process.

WIth this feature, a taxon name "health" report can be generated that looks something like:

provided name |  similar name
--- | --- | ---
Homo z

[2015-04-20 16:46] jhpoelen opened #132 "provide a method to indicate the status a taxon name"
In personal communication, @ahhurlbert suggested to provide a method assign a state of a specific name for a possibly incorrect or outdated taxon name. This state would indicate that someone looked at the name (likely resulting from a no-match against external taxonomies), and report on the status of that name.

For instance, when an invalid or outdated name is used in a data source, we'd like to

[2015-04-20 18:02] jhpoelen commented on #109
Jsonld related content now available through GloBI. @cmungall please re-open issue if you see any issues.

![screen shot 2015-04-20 at 11 00 58 am](https://cloud.githubusercontent.com/assets/1084872/7236874/9fbd81a2-e74c-11e4-91c7-11e3a808cbfb.png)

[2015-04-20 18:02] #109 closed

[2015-04-20 18:22] ahhurlbert commented on #131
Yes, this would be great.

[2015-04-20 21:22] jhammock commented on #132
@dimus can you suggest a names reconciliation service for this? I expect it's out there, and probably either in or touching Global Names...

[2015-04-21 17:00] jhpoelen commented on #126
@seltmann TTD-TCN data can now be discovered through GloBI. Since the interaction types were not provided, a generic "interactsWith" has been used to document the associations. I am hoping that future version of the archives will provide more detailed descriptions of the interactions using some interaction vocabulary (e.g. [relation ontology](http://www.ontobee.org/browser/index.php?o=RO)). Ideall

[2015-04-21 17:00] #126 closed

[2015-04-23 11:06] seltmann commented on #126
Great the the interactions are now searchable from GloBI! And soon on EOL

I am using these URI for our relations:
https://docs.google.com/spreadsheets/d/1GCChIIChXvf98oMFg7OKUznflZiSP_XLdI_6mm0IP2w/edit?usp=docslist_api

You are welcome to use the list to update the interacts with relationship now if you like, or wait until the next update. The archives will only be moved once. At present they ar

[2015-04-23 14:50] seltmann opened #133 "TTD data. Loose ends and more images?"
Great the the interactions are now searchable from GloBI! And soon on EOL. Great to see and looking forward to exploring what can be done through rglobi.

One thing I noticed is that we have lots of images of plant bugs that you should have. I am assuming I can add URLs for the images in our next update?

Also, below is some follow up from the upload. I think I emailed this to you:

I am using the

[2015-04-23 16:33] jhpoelen commented on #133
@seltmann Thanks for your notes.

Adding images urls would be great (thumbnail and full?) . . . and we'll figure out a nice way to use them. Right now now the nimble discovery tools use taxon level images retrieved from (mostly) EOL. I'd say it would be extra supporting evidence to have images of the actual specimen / labels used to describe the interaction.

I've added a first pass at the interac

[2015-04-24 21:58] jhpoelen commented on #132
@ahhurlbert I was thinking to allow annotation of the state of the name in the data source. For instance, you'd be able to have a fields like "taxon status" next to the fields you already provide to describe the subject/object source/target taxon occurrence. This way, you can use GloBI to exclude or indicate names that have known issues to avoid having to recheck names over and over. What do you t

[2015-04-25 13:48] dimus commented on #132
It sounds like am interesting use case, can we chat about it on Monday?
On Apr 20, 2015 5:23 PM, "Jen Hammock" <notifications@github.com> wrote:

[2015-04-27 01:27] ahhurlbert commented on #132
@jhpoelen Sounds possibly feasible but I'm a bit unclear on what the workflow would look like.
1) Students enter data from an old research paper. Many of the names are obsolete, but they have no idea.
2) Once in GloBI, names get checked and a list of invalid names is returned.
3) Then a student goes through that list, finds each occurrence of an offending name in the database, and then assigns it

[2015-04-27 16:07] jhpoelen commented on #132
@dimus - thanks for your message please contact me by email to setup a time to talk jhpoelen at xs4all dot nl .

@ahhurlbert - thanks for sharing the use case. At this point, I can image three use cases: transcription mistake, outdated name, not-sure-that-this-is name.  How about something like:

**transcription mistake**
 1. student makes mistake in transcribing a name "Avez"
 1. GloBI cannot fin

[2015-04-28 13:39] dimus commented on #132
Hi Jorrit, I am available today in the second half of the day, and about
any time tomorrow. Google Hangout or Skype are good for me -- my skype is
dimus62

Cheers

Dima

On Mon, Apr 27, 2015 at 12:07 PM, Jorrit Poelen <notifications@github.com>
wrote:

[2015-04-28 13:42] dimus commented on #132
Oups sorry, I forgot I do have a meeting at the second half of today -- and
tomorrow is still free for me.

Dima

On Tue, Apr 28, 2015 at 9:39 AM, Dmitry Mozzherin <dmozzherin@gmail.com>
wrote:

[2015-04-28 14:21] jhammock commented on #110
I see @HudaSoliman has closed the JIRA ticket we started for this, so I'm guessing at the next deploy these names will be present in the database? Should we then expect them in the API and if so, is there a new parameter? Or is there potentially another JIRA task associated with this use case, which I should enter into JIRA?

Thanks, Huda!

[2015-04-28 14:49] jhpoelen commented on #132
@dimus - I'll try and contact you tomorrow Wed 29 April at 11:00a eastern. Please let me know if you'd like to chat at another time.

@ahhurlbert - please let me know if you'd like to join.

[2015-04-28 22:54] mkoo opened #134 "Add in Arctos collection specimens interactions"
Arctos (http://arctos.database.museum/SpecimenSearch.cfm) collection management system stores relationships between specimens of 85 collections which we'd like to set up a dynamic integration point for GloBI.

I'll return with more information about how we can make the databases interact!

Ex.
http://arctos.database.museum/guid/MVZ:Bird:180448 has relationship of ATE
http://arctos.database.museum/

[2015-04-28 23:34] jhpoelen commented on #134
@mkoo good to meet you today at BIDS (Berkeley Institute for Data Science) and thanks for your pointer to the arctos interaction data! I am looking forward to integrating your interactions data and make it accessible and searchable through GloBI. Please let me know if there's more information available that help establish this connection. Meanwhile, I'll poke around and see how easy it is to extra

[2015-04-29 02:09] ahhurlbert commented on #132
@jhpoelen Sorry can't make it. Maybe we can skype in a week or so?

[2015-04-29 02:16] dimus commented on #132
11:00 is good with me

On Tue, Apr 28, 2015 at 10:09 PM, ahhurlbert <notifications@github.com>
wrote:

[2015-04-29 16:40] jhpoelen commented on #132
Created https://github.com/GlobalNamesArchitecture/gni/issues/38 after todays discussion with @dimus . Hopefully, GloBI data providers can use globalnames to help detect (and potentially correct) names in a way that others can also benefit from.

[2015-04-30 02:52] jhpoelen opened #135 "reporting queries delay data retrieval due to large data volume"
. . . bit of a luxury problem: now that > 1M interaction records are discovered by GloBI, the statistics reports queries are causing the systems to slow down at time. Problem can be easily fixed by generating the reports up front as part of the data aggregation and normalization process.

[2015-04-30 22:54] jhpoelen commented on #131
@ahhurlbert first pass of fuzzy matching is now available. Please run the cypher query here: http://tinyurl.com/hurlbertTaxonNameReportV3 to see the results (see attached screenshot for example). Fuzzy matching algorithms from globalnames.org are used to come up with the candidates. Hopefully this will help expedite the fixing of typos or other name issues. Please re-open the issue if you have any

[2015-04-30 22:54] #131 closed

[2015-05-01 09:13] #135 closed

[2015-05-01 21:00] jhpoelen commented on #130
For some reason, the problem of the missing references has disappeared. Not sure why. Closing issue.

![screen shot 2015-05-01 at 1 59 57 pm](https://cloud.githubusercontent.com/assets/1084872/7437203/73dc4818-f00a-11e4-9023-04c906059a4f.png)

[2015-05-01 21:00] #130 closed

[2015-05-01 21:13] jhpoelen commented on #134
@mkoo it sounds like ecoengine is not (yet) providing access to the fields that describe the host-parasite association. However, the host (http://doi.org/10.15468/5o0fct) and parasite (http://doi.org/10.15468/ou1lf2) archives that are available through GBIF do contain the fields. For some reason the archives are published separately. From what I can tell these are beautiful interaction datasets .

[2015-05-04 14:34] jhammock commented on #130
Weird. Thanks for the update. Sorry we were not more pro-active, stil RFSM (recovering from server move)

[2015-05-04 20:29] jhpoelen commented on #127
A first pass of basisOfRecords is now available (see screenshot) for some source data sources (e.g. inaturalist (HumanObservation), Tri-Trophic Thematic Collection Network (PreservedSpecimen/LabelObservation), GoMexSI (Literature, http://gomexsi.tamucc.edu) and Avian Diet Database (Literature, https://github.com/hurlbertlab/dietdatabase/).

@ClareGray @seltmann please let me know if there's other

[2015-05-04 20:55] jhpoelen commented on #132
Here's a list of taxon name descriptions I stumbled across:
https://en.wikipedia.org/wiki/Glossary_of_scientific_naming#Latin_descriptions_of_names_or_taxa

I imagine allowing the data sources to annotate names with their known status with terms from this list.

@ahhurlbert am able to do skype this week . . . let me know a good time for you.

[2015-05-05 00:32] ahhurlbert commented on #132
How about 12 pm EST?

[2015-05-05 00:42] jhpoelen commented on #132
Sounds good. Talk to you tomorrow (Tues) at 12p EST.

[2015-05-05 17:02] jhpoelen opened #136 "EOL Taxon Concept API no longer seems to return ancestors"
Somewhere after the end of April, the EOL API for looking up hierarchy entries doesn't seem to return any ancestors anymore. Many GloBI integration tests that check this functionality are now failing, as well as tests in rglobi.

Example:
http://eol.org/api/hierarchy_entries/1.0/52862279.json?common_names=false&synonyms=false&cache_ttl=

used to return ancestors like Plantae, Tracheophyta and Magn

[2015-05-05 17:14] jhammock commented on #136
Alas, it's in the API? It's also in the display. Jeremy, unless I'm much mistaken this is what Katja reported in WEB-5994.

[2015-05-05 17:45] ahhurlbert commented on #132
I've added a Name_Status field to reflect the current taxonomic status of the prey name. I'm using 'verified' to indicate a presumably valid name that did not flag in GloBI, and 'unknown' for names that were flagged as invalid. I've gone through and fixed ~10 typos.

Also, I'm surprised that 'Bombidae' did not match any outdated taxonomies. It is an old family name for bumblebees which have since

[2015-05-05 18:29] jhpoelen commented on #132
@ahhurlbert Nice! Question - is the ```Name_Status``` associated with the predator or the prey name?

[2015-05-05 18:31] jhpoelen commented on #132
After our discussion, I figured that adding two columns like: ```Name_Status``` and ```Prey_Name_Status```, would probably make it clear which name the status related to.

[2015-05-05 19:58] ahhurlbert commented on #132
The predator (bird) names are being checked as part of our workflow (and the taxonomic authority they are based on is listed in the Taxonomy field), so there should be no invalid names. That is, if I come across an old paper that uses an outdated bird name, the first thing I do is figure out what the currently accepted name is (using Avibase.org) and that's what is put in the table. Certainly ther

[2015-05-05 21:19] jhpoelen commented on #136
@jhammock thanks for your response.  Any idea when this will be fixed?

[2015-05-05 21:32] jhammock commented on #136
It looks like the bug report has been pulled into the current iteration and upranked, so I'll bet someone is working on it right now. I'm hopeful for the next few days in that case...

[2015-05-05 21:42] jhpoelen commented on #136
@jhammock great! For now, I'll stop the GloBI continuous data integration process and hoping to restart it as soon as the EOL api is patched up. Thanks for the update.

[2015-05-06 12:32] dimus commented on #132
To keep you up to date -- Wencan, our GSoC Student -- started working on algorithm for GN to fiture out status out of existing data/metadata.

[2015-05-06 15:07] jhpoelen commented on #132
@dimus thanks for sharing!

[2015-05-07 15:32] jhpoelen commented on #133
Issue is related to https://github.com/jhpoelen/eol-globi-data/issues/126 .

[2015-05-08 19:38] jhpoelen opened #137 "candidate interaction terms that need mapping to terms in OBO relations ontology"
Inspired by meeting at BIDS (http://tech4measurement.berkeley.edu/2015/05/07/bids-moorea-and-crete.html), I compiled a list of interaction terms that are now coarsely mapped existing interaction types, but can probably do with a more specific designation.

The list is mostly listing interaction types used by Malcolm Storey in the http://bioinfo.org.uk dataset.

@cmungall let me know if this list i

[2015-05-08 20:24] jhpoelen commented on #127
Re-opening issue - two reasons:

1. Because of #136 we had to revert the version of GloBI prior to the version that introduced basisOfRecord, so technically the functionality is not (yet) available.
1. No (reasonably complete) ontology exists for basis of record. We need some sort of ontology to make the basis of record readable. This came up in a recent discussion with Suzi Lewis et al. (http://t

[2015-05-08 21:59] cmungall commented on #137
For some of these we can add more specific relations. But at some level it makes sense to store this some other way. For example, the first interaction here:

http://www.bioinfo.org.uk/html/Trichogramma_brassicae.htm
http://www.bioinfo.org.uk/html/b149795.htm

which is actually a causal chain of interactions - the initial mating (within the same species), the following and hitchhiking interaction,

[2015-05-08 22:34] jhpoelen commented on #137
@cmungall should be easy to add new mappings in the future. Perhaps we can focus on species interactions that are relatively straight forward and commonly used (e.g. ecto/endo/klepto-parasitism). Also I could definitely benefit from a second pair of eyes on this. Also shouldn't http://purl.obolibrary.org/obo/RO_0002444 be a trophic interaction? I am assuming that the parasite is extracting some fo

[2015-05-11 13:44] seltmann commented on #127
Jorrit,
The list for basisOfRecordLabel fills our needs. The only list I know that is available is: http://wiki.tdwg.org/twiki/bin/view/DarwinCore/BasisOfRecord but I agree that it is incomplete.
@egbot you may be interested in this conversation.

[2015-05-11 16:06] jhpoelen commented on #127
@seltmann thanks for confirming that terms "Literature", "PreservedSpecimen", "HumanObservation" and "LabelObservation" are sufficient for your purposes, but might not be for others.

I am hoping that this discussion will spark some interest in creating an hierarchical vocabulary / ontology to describe how a fact / measurements / observations was obtained.

Something like:
Observation / { HumanObs

[2015-05-11 16:27] seltmann commented on #127
@jhpoelen LabelObservation is a term we created to distinguish an observation recorded on an insect label that is associated with a Specimen from a HumanObservation that does not have an associated Specimen. Another specialized type of Observation? Typically they are HumanObservations and could be extended to include observations found in the text of field notebooks.

Not sure, but perhaps this is

[2015-05-11 18:52] jhpoelen commented on #136
@jhammock is seems that the taxon ancestors are now returned again. Please confirm that WEB-5994 has been resolved.

[2015-05-11 18:52] #136 closed

[2015-05-11 19:59] jhpoelen opened #138 "EOL API throws 503s (service unavailable) or 504s (gateway timeout) in when handling many (sequential) requests"
GloBI uses EOL api to resolve and link taxonomic names that are included in data sources.

In and around 2015-05-11 19:23:13,938 UTC / 2015-05-11 21:23:13,938 (CEST, central european standard time), the EOL api started to provide 503s (or service unavailable exceptions), at least 11 in a row (see log below).

@jhammock is this expected behavior?

[code]

[2015-05-12 14:53] jhammock commented on #138
Eeek! Sorry, did not see this last night. That'll teach me. We noticed a total API outage this morning, for about 100 minutes, which seems to be resolved now. Jeremy found it somewhat mysterious; I pointed him to this in case it's related.

[2015-05-12 16:20] jhpoelen commented on #138
@jhammock thanks for asking around . . . any idea what the root cause was?

[2015-05-12 16:36] jhpoelen commented on #138
@jhammock just did some integration testing and the EOL API seems to be unavailable all together. I would really like for this to work, let me know how I can help.

[2015-05-13 15:42] jhpoelen commented on #138
@jhammock @jrice I noticed that the EOL twitter feed said that [the API issues were solved](https://twitter.com/eol/status/598113203583905793). For some reason, I am still seeing the failures that I saw earlier.

It seems that the API is unavailable for some time after a single request is made. This would also explain why the API ping monitor I set up frequently flips from down/up with up to 7-10

[2015-05-13 18:20] JRice commented on #138
Thanks for reporting, Jorrit.

Indeed, the API is intermittently down now (around 5 minutes at a time,
from what I can see)... I'm looking into it, but it is extremely puzzling.
:|

On Wed, May 13, 2015 at 11:42 AM, Jorrit Poelen <notifications@github.com>
wrote:

[2015-05-13 19:22] jhpoelen commented on #138
@JRice thanks for your response. I've setup a uptimerobot.com notification on http://eol.org/api/ping/1.0.json . Let me know if you'd like to get the email notifications also.

[2015-05-16 00:53] jhpoelen commented on #138
@JRice thanks for analyzing and resolving the issue. Apparently, the outages were caused by an overactive EOL api client. This client is no longer active.

[2015-05-16 00:53] #138 closed

[2015-05-16 00:57] jhpoelen opened #139 "use spatial search index to enhance spatial search performance"
Currently, no spatial index (e.g. RTree-based) is used when using spatial queries through GloBI. Now that the dataset is growing, the performance of the queries are starting to be a little suboptimal.

By introducing a spatial index, the performance is expected to increase.

Neo4j has a spatial plugin (http://github.com/neo4j/spatial) that might be worth looking into. However, I am open to suggest

[2015-05-20 19:54] diatomsRcool commented on #118
I know this issue is closed, but while working on the yellowstone project, I see text stating that otters do eat beavers when they are young. Do we want to put that interaction back in and qualify it somehow?

[2015-05-20 20:01] jhpoelen commented on #118
Interesting! What is your source?

[2015-05-20 20:37] jhpoelen commented on #118
@diatomsRcool if the source is something other than SPIRE, we can include this piece of information in a separate archive with a reference to the original source text / paper. if it comes from SPIRE, I can undo the changes I made.

[2015-05-21 13:06] diatomsRcool commented on #118
The source is the National Park Service information web page about
Yellowstone
http://www.nps.gov/yell/learn/nature/river-otter.htm
If we want to be really careful, we could probably ask some of the park
scientists for confirmation.

On 5/20/2015 4:01 PM, Jorrit Poelen wrote:

--
Anne E. Thessen, Ph.D.
The Data Detektiv, Owner and Founder
Ronin Institute, Research Scholar
443.225.9185

[2015-05-26 08:56] HudaSoliman commented on #110
Hi @jhammock ,
Yes, the names will be present in the API by the next  deploy. And,  nothing is changed in the passed parameters .we changed the query in the backend to include the unaccepted names within the serach.
p.s Sorry for the late reply
Thanks.

[2015-05-26 14:58] jhammock commented on #110
Thanks!!

[2015-05-27 20:02] jhpoelen commented on #132
@ahhurlbert Hey Allen - I've prepared a new version of the taxon name report for you using the Prey_Name_Status data that you provide: you can find the current list of unmatched or suspicious name order by state by following http://tinyurl.com/hurlbertTaxonNameReportV4 and clicking on the looking glass (i.e. execute) button.

I've attached the result that came out. Note that the name status is tre

[2015-06-01 18:12] jhpoelen commented on #133
@seltmann just curious: are there any updates of TTD interaction dataset available? If you do, please feel free to update and created pull request for https://github.com/globalbioticinteractions/tri-trophic-thematic-collection-network/blob/master/globi.json and https://github.com/globalbioticinteractions/digital-bee-collections-network/blob/master/globi.json

[2015-06-01 18:25] jhpoelen commented on #127
Issue #136 has been fixed and the basisOfRecord fields are now available (whenever defined). Whenever a better / more extensive ontology/vocabulary is available, we'll stick with what we have now: something is better than nothing ; ).

[2015-06-01 18:25] #127 closed

[2015-06-09 16:43] tmitchell1 opened #140 "prey name corrections"
It was brought to our attention that there are a couple of misspellings in the Blewitt data.
Arm mierii should be Armases miersii and
Fun grandis should be Fundulus grandis
@jhpoelen @jsimons9

[2015-06-09 17:01] jhpoelen commented on #140
Hi @tmitchell1 ! Thanks for your message. Misspellings you mentioned have been incorporated in the taxon name corrections file (see https://github.com/jhpoelen/eol-globi-data/commit/f15329cbf761815659c0c26e57eb1399c4bdb22a).  I will close this issue when the corrections have been processed by GloBI.

[2015-06-15 15:35] jhpoelen commented on #140
@tmitchell1 changes have propagated. Please re-open issue if this is not the case.

[2015-06-15 15:35] #140 closed

[2015-06-19 21:36] jhpoelen opened #141 "include all GitHub data repositories, not just first 30"
Previously on the only first 30 GitHub repositories that mention "globalbioticinteractions" where considered for ingestion.

With the rising number of GitHub repositories, we need to consider all repositories that mention "globalbioticinteractions", not just the first 30.

[2015-06-19 21:38] #141 closed

[2015-06-24 18:40] diatomsRcool commented on #118
Here is an actual published source
Seton, E.T. (1929) Lives of Game Animals. Doubleday, Doran & Co., Garden City N.Y., 506 pp.

[2015-06-24 23:58] jhpoelen opened #142 "Seton, E.T. (1929) Lives of Game Animals. Doubleday, Doran & Co., Garden City N.Y., 506 pp."
@diatomsRcool mentioned the following text:

Seton, E.T. (1929) Lives of Game Animals. Doubleday, Doran & Co., Garden City N.Y., 506 pp.

in issue #118 . From context, it seems that the text contains species interaction data.  A quick search on http://crossref.org led to http://www.biodiversitylibrary.org/bibliography/82142#/summary . Unfortunately, I was unable to download the text due to some er

[2015-06-25 00:00] jhpoelen commented on #118
@diatomsRcool thank you for providing the references. I've created a separate issue #142 to document this reference to species interaction data. The plot thickens. . .

[2015-06-25 11:11] millerse commented on #142
@jhpoelen I took a look. I cannot directly download the book, but it appears that the ORC is still there.  I can also looked at the Smithsonain Libraries to see if we have a copy of the book.

[2015-06-25 16:27] jhpoelen commented on #142
@millerse I sent a message to BHL folks reporting the issue (see copy below). For the time being, we might have to resort to the physical copy of the book.

Hey Anne @diatomsRcool would you happen to have a soft copy of Seton 1929 lying around that Sarah @millerse can use?

[code]

[2015-06-25 17:09] diatomsRcool commented on #142
Sorry, don't have a copy...

On 6/25/2015 12:27 PM, Jorrit Poelen wrote:

--
Anne E. Thessen, Ph.D.
The Data Detektiv, Owner and Founder
Ronin Institute, Research Scholar
443.225.9185

[2015-06-25 19:16] jhpoelen commented on #142
Here's a reply from BHL:

--------

from: feedback@biodiversitylibrary.org
Thu, 25 Jun 2015 11:45:52 -0700 (PDT)

Dear Jorrit Poelen,

Thank you for submitting your feedback to the Biodiversity Heritage Library concerning the digital scans of Seton, E.T. (1929) Lives of game animals [...]. Your observation that the digital files are missing is much appreciated.

These scans were created by an inst

[2015-06-25 19:47] millerse commented on #142
@jhpoelen I can.  I'll get on that starting Monday.

[2015-06-25 20:59] diatomsRcool commented on #142
World Cat says there is a copy at Smithsonian and at the Library of
Congress, which is right across the street.

On 6/25/2015 3:16 PM, Jorrit Poelen wrote:

--
Anne E. Thessen, Ph.D.
The Data Detektiv, Owner and Founder
Ronin Institute, Research Scholar
443.225.9185

[2015-06-29 15:03] millerse commented on #142
@diatomsRcool @jhpoelen
Alright here is the deal.

The SI libraries have a copy of the book, and were kind enough to bring it to the Botany Library for me to pick up.  So here we go:

In the chapter about sea otters, there is no such reference to sea otters of the genus Enhydra.  There are  stomach contents of sea otters that include meat, but no beavers.  So there.  Sea otters do not eat beavers.

[2015-06-29 18:07] diatomsRcool commented on #142
So this is really interesting and a good example of wrong or vague data
perpetuating through the literature. I note that is says "kill" and not
"kill and eat". That might make them competitors. Perhaps we could just
say that Lutra canadensis interacts with Castor canadensis and reference
that specific line. I wish I knew who Manly Hardy was.....
Is there a way we can add this information to the AD

[2015-06-29 18:13] jhammock commented on #142
I'm afraid there's not much we can do with the ADW resource. Except possibly reconsider it altogether. A significant amount of unreliable information has been found there.

[2015-07-06 16:23] jhpoelen opened #143 "add interaction type to describe "killing""
As discussed in #142 and suggested by @diatomsRcool .

Quote provided by @millerse
```In Maine, according to Manly Hardy, the Otters has a long list of foods...'When in a Beaver country, they often kill the young Beaver, and I feel quite sure that they also sometimes kill ducks'." Lives of Game Animals, Volume II pg 680.```

The text does not describe that the otter eats young Beavers, but rather

[2015-07-06 16:39] jhpoelen opened #144 "add method to annotate suspicious interactions"
as discussed in  #142 :

@jhpoelen: `[...] I imagined that GloBI would take a somewhat neutral stance on what is a "correct" or "incorrect" interaction to limit the scope of the project. I was hoping that GloBI would spur data curators of contributing datasets to take actions (and they have in the past). However in case of static resources or disputed interactions (like the #118 ), I do see the ne

[2015-07-06 16:39] jhpoelen commented on #142
hi @diatomsRcool @millerse @jhammock !

It took me a while to figure out how to parse your responses. So . . . here goes.

**Seton 1929**
@millerse thanks for taking the time to peek into the Seton 1929. Would you like me to create a repository to include the one interaction that you extracted: river otter (_Lutra canadensis_) kills beaver (_Castor canadensis_)? This way we have at least one refer

[2015-07-06 16:44] cmungall commented on #143
It does not, I can add using the [interaction template](https://github.com/oborel/obo-relations/wiki/InteractionRelations). However, it would be good to get input from ecologists. Why do they kill? Honing hunting skills, rough play, they just hate ducks...?

Are you happy with defining this generally such that only one participant is necessarily biotic (e.g. guns kill)?

note to self: need to add

[2015-07-06 16:51] jhpoelen commented on #143
I'd be happy to have a semi-biotic interaction type. In case of the example provided by @millerse from Seton 1929, I believe that the beaver killing by otters resulted from territorial disputes.

[2015-07-06 16:56] jhpoelen commented on #143
@jhammock Do you happen to know any ecologist that specializes in territorial disputes between river otters and beavers that could help with the definition of the "killing" interaction?

[2015-07-06 16:57] jhammock commented on #143
Killing behavior will often be reported without any certainty about the "why". While it would be a good piece of metadata when available, (and an important plot element in detective novels!) we could use a killing term that is independent of the killer's motivation.

[2015-07-06 17:03] jhpoelen commented on #143
@jhammock Perhaps the "why" can be captured in a more specific kind of interaction type when the data is available, perhaps something like a hierarchy would work -

kill / kill to eat  (similar to preys on, trophic)
kill / kill to hone hunting skill (not trophic)
kill / kill to protect or expand territorial dispute (also not trophic)
etc

[2015-07-06 17:13] jhammock commented on #143
yes, that would work. I can tell you that in practice, when we bring in no interactions data, this is the point at which that kind of detail is rare enough that it's no longer worth making a new term for. That transition is partly because we don't have nice parent child search behavior for terms yet, but "we have found one record that might use this level of detail" is pretty far over the horizon.

[2015-07-06 17:16] diatomsRcool commented on #143
Since this is somewhat in dispute, it might be better to use a generic
"interacts with" interaction and then have a note about it.
There are several reasons one organism might kill another without
eating, but I think the most common is a competition interaction, i.e.
territorial dispute or some other resource-related threat. So maybe
"competes with" would be the appropriate interaction?
a

On 7/6/

[2015-07-06 17:24] jhpoelen opened #145 "improve performance of taxonomic name resolution"
To enable useful searches in GloBI, taxonomic names are checked and integrated with external taxonomic  web resources such as EOL (meta-) taxonomy, Global Names, NBN (national biodiversity network), WoRMS (World Registry of Marine Species) and more. This taxonomic name lookup not only enables hierarchical and common name based searches, it also enables the creation of suspicious name reports (name

[2015-07-06 17:42] jhpoelen commented on #132
GloBI now has a way to capture a taxonomic name status field.

@ahhurlbert please reopen issue if you feel the feature needs some more work.

[2015-07-06 17:42] #132 closed

[2015-07-07 18:30] millerse opened #146 "Visits flowers"
@jhpoelen I was wondering if you could add an interaction?  EOL has two terms that I have used in two of my datasets: http://eol.org/schema/terms/VisitsFlowersOf and http://eol.org/schema/terms/FlowersVisitedBy to describe an interaction where it is unclear if pollination was present.

[2015-07-07 18:31] millerse commented on #142
@jhpoelen Sure.

[2015-07-18 20:12] jhpoelen commented on #146
@millerse sounds like a good plan - hoping to add this next week when I am back in town.

@cmungall would you consider this for RO? Perhaps this can be a general "visits" interaction combined with a uberon "flower" body part of involved Plantae.

[2015-07-22 21:06] jhpoelen opened #147 "Baskerville, E.B. et al. (2011) Spatial guilds in the Serengeti food web revealed by a Bayesian group model. PLoS Comp. Biol. 7, e1002321"
After reading Morales-Castilla, I., Matias, M. G., Gravel, D., & Araújo, M. B. (2015). Inferring biotic interactions from proxies. Trends in Ecology & Evolution, 30(6), 347–356. http://dx.doi.org/10.1016/j.tree.2015.03.014 , I noticed that the following study might contain some valuable interaction data:

Baskerville, E.B. et al. (2011) Spatial guilds in the Serengeti food web revealed by a Bayesi

[2015-07-23 20:05] jhpoelen opened #148 "Russian common names from EOL api are not all escaped in json response"
On inspecting common names of _Ariopsis felis_ returned from EOL api, I found that some Russian characters (but not all!) were still html escaped in json (see example below).

Until EOL fixes this issue, suggest to implemented workaround to unescape common name before ingesting the information.

@jrice @jhammock are you aware of this encoding issue?

[code]

[2015-07-23 20:07] #148 closed

[2015-07-23 20:33] #146 closed

[2015-07-24 04:33] jhpoelen opened #149 "Szoboszlaia et al. (2015) Forage species in predator diets: Synthesis of data from the California Current"
predator-prey interactions mined from literature

Szoboszlai AI, Thayer JA, Wood SA, Sydeman WJ, Koehn LE. Forage species in predator diets: Synthesis of data from the California Current. Ecological Informatics [Internet]. Elsevier BV; 2015 Jul; Available from: http://dx.doi.org/10.1016/j.ecoinf.2015.07.003

[2015-07-24 04:38] jhpoelen opened #150 "Newsome et al. (2015) Foraging ecology of a reintroduced population of breeding Bald Eagles on the Channel Islands, California, USA, inferred from prey remains and stable isotope analysis."
Newsome SD, Collins PW, Sharpe P. Foraging ecology of a reintroduced population of breeding Bald Eagles on the Channel Islands, California, USA, inferred from prey remains and stable isotope analysis. The Condor [Internet]. Cooper Ornithological Society; 2015 Jul 22;117(3):396–413. Available from: http://dx.doi.org/10.1650/condor-14-213.1

[2015-07-24 13:43] jhpoelen commented on #150
Also see https://github.com/hurlbertlab/dietdatabase/issues/21

[2015-07-24 16:11] jhpoelen opened #151 "Dalsgaard, B. et al. 2011. Specialization in plant–hummingbird networks is associated with species richness, contemporary precipitation and Quaternary climate-change velocity. – PLoS One 6: e25891."
as referenced in Kissling, W.D. & Schleuning, M., 2014. Multispecies interactions across trophic levels at macroscales: retrospective and future directions. Ecography, 38(4), pp.346–357. Available at: http://dx.doi.org/10.1111/ecog.00819. -

Dalsgaard, B. et al., 2011. Specialization in Plant-Hummingbird Networks Is Associated with Species Richness, Contemporary Precipitation and Quaternary Climat

[2015-07-24 16:12] jhpoelen opened #152 "Schleuning, M. et al., 2012. Specialization of Mutualistic Interaction Networks Decreases toward Tropical Latitudes. Current Biology, 22(20), pp.1925–1931. Available at: http://dx.doi.org/10.1016/j.cub.2012.08.015."
as referenced in Kissling, W.D. & Schleuning, M., 2014. Multispecies interactions across trophic levels at macroscales: retrospective and future directions. Ecography, 38(4), pp.346–357. Available at: http://dx.doi.org/10.1111/ecog.00819. -

Schleuning, M. et al., 2012. Specialization of Mutualistic Interaction Networks Decreases toward Tropical Latitudes. Current Biology, 22(20), pp.1925–1931. Av

[2015-07-24 16:14] jhpoelen opened #153 "Trøjelsgaard, K. & Olesen, J.M., 2012. Macroecology of pollination networks B. Shipley, ed. Global Ecology and Biogeography, 22(2), pp.149–162. Available at: http://dx.doi.org/10.1111/j.1466-8238.2012.00777.x."
as referenced in Kissling, W.D. & Schleuning, M., 2014. Multispecies interactions across trophic levels at macroscales: retrospective and future directions. Ecography, 38(4), pp.346–357. Available at: http://dx.doi.org/10.1111/ecog.00819. -

Trøjelsgaard, K. & Olesen, J.M., 2012. Macroecology of pollination networks B. Shipley, ed. Global Ecology and Biogeography, 22(2), pp.149–162. Available at:

[2015-07-24 16:15] jhpoelen opened #154 "Morris, R. J. et al. 2014. Antagonistic interaction networks are structured independently of latitude and host guild. – Ecol. Lett. 17: 340–349."
as referenced in Kissling, W.D. & Schleuning, M., 2014. Multispecies interactions across trophic levels at macroscales: retrospective and future directions. Ecography, 38(4), pp.346–357. Available at: http://dx.doi.org/10.1111/ecog.00819. -

Trøjelsgaard, K. & Olesen, J.M., 2012. Macroecology of pollination networks B. Shipley, ed. Global Ecology and Biogeography, 22(2), pp.149–162. Available at:

[2015-07-24 18:32] jhpoelen opened #155 "leverage globalnames taxon name parser"
Currently, GloBI is using a custom built taxon name parser. To avoid duplicate work and increase quality of taxon name parsing, @dimus suggested to use the global names taxon name parser (see https://github.com/GlobalNamesArchitecture/gnparser).

[2015-07-24 18:33] jhpoelen commented on #155
@dimus please comment on this issue when a stable dev release of the parser is available. I am looking forward to re-using your library!

[2015-07-25 15:26] jhpoelen opened #156 "include banana (genus Musa) pathogen interactions"
Bananas are pretty popular fruity snack around the world. According to http://www.newyorker.com/magazine/2011/01/10/we-have-no-bananas the most commonly used Cavendish (_Musa acuminata_) are threatened by Panama disease (Fusarium wilt) caused by Tropical Race 4 (_Fusarium oxysporum f. sp. cubense_ ), also see http://www.promusa.org/Tropical+race+4+-+TR4.  Given the importance of bananas in our glo

[2015-07-25 15:48] jhpoelen commented on #156
On closer inspection, a "hostOf" interaction between Bananas and Plantains (_Musa_) and _Fusarium oxysporum_ . (see http://www.globalbioticinteractions.org/#sourceTaxon=Fusarium%20oxysporum%20cubense&interactionType=interactsWith) .

![screen shot 2015-07-25 at 8 43 15 am](https://cloud.githubusercontent.com/assets/1084872/8890105/41ccbbd2-32a9-11e5-8a44-0b0273aa3a44.png)

However, the more taxono

[2015-07-25 16:33] millerse commented on #147
@jhpoelen I can get the information from Baskerville

[2015-07-25 18:34] jhpoelen commented on #147
@millerse great! Curious to hear how it turns out . . .

[2015-07-27 10:28] millerse commented on #147
@jhpoelen https://github.com/millerse/Serengeti

[2015-07-27 11:14] millerse commented on #150
@jhpoelen Done. https://github.com/millerse/Bald-Eagle-Diet/tree/master

[2015-07-27 16:48] jhpoelen commented on #147
@millerse wow! that was fast. I had a peek at the data and was wondering whether you could add the lat/lng of Serengeti park as reported by Geonames: http://www.geonames.org/150094/serengeti-national-park.html . I think this might folks that don't have access to geonames to have a machine-readable method to place the interaction at an approximate lat/lng.

[2015-07-27 16:51] jhpoelen commented on #150
@millerse thanks for adding this so quickly. Will close once the data makes in into GloBI (might take a couple of days due to processing delays).

[2015-07-28 11:25] millerse commented on #147
@jhpoelen Taken care of.

[2015-07-28 17:15] jhpoelen commented on #147
@millerse thanks!

[2015-07-28 17:15] #147 closed

[2015-07-31 17:12] jhpoelen commented on #146
Hi sarah @millerse -

Just poked around a bit in the latest version of GloBI (including the visits flower of) and made a screenshot (see below). Whenever a "visits flower of" is selected, it also includes "pollinates" interactions. I am assuming the more explicit "pollinates" involve a flower being visited at some point. Please let me know if you'd like to discuss this further.

Thanks for all you

[2015-08-09 18:15] seltmann opened #157 "mangal source for new data?"
seen this?

http://mangal.uqar.ca/

[2015-08-10 15:31] jhpoelen commented on #157
Yep, I've seen mangal and I've been in touch with Tim Poissot @tpoisot and hoping to get an integration going as soon at the time is right. We tried some approaches #81 and I believe that the current approach is for Mangal (has since moved to http://mangal.io) to produce and publish an darwin core archive that would be ingested by GloBI (and then by EOL and other GloBI consumers).

Thanks for the

[2015-08-10 15:31] #157 closed

[2015-08-10 19:19] tpoisot commented on #81
Since @seltmann restarted this discussion, it could be worth discussing ways of moving forward. I think DWC could be a good (if temporary) solution. Step 1 would be to establish a map between the mangal format and DWC terms.

[2015-08-14 17:53] ambosz opened #158 "California Current Predator Diet Database on GloBI"
Dear Jorrit,
We recently published a paper and the data from it on predator diet in the California Current (paper at Ecological Informatics, data at Dryad). We'd like to upload the species interaction dataset to GloBI, but I wanted to touch base with you first about the best possible way to do it. The database hosts diet data for 119 predator species compiled from 193 citations, circa 14K predator

[2015-08-18 17:41] jhammock commented on #81
@tpoisot Jen Hammock here, from eol.org. Just found your paper. Thanks for including us as a names source! You may already know that we consume GloBI data and display it to our visitors. You have all the expertise you need, I expect, but if you have questions about where to put all your attribution (by Contributor X, in MANGAL, using references 1,2,3, via GloBI is a lot of layers) you can holler f

[2015-08-18 17:56] jhpoelen commented on #158
Hi Amber,
Congratulations on your recent publication in _Ecological Informatics_  and thanks for pointing to it. The way you published the data in dryad in csv and shapesfile is very suitable for automated ingestion. This is why I suspecting that your data will be accessible through GloBI sooner rather than later.

I had a brief glance at the data available at http://datadryad.org/resource/doi:10.

[2015-08-18 18:04] jhpoelen commented on #149
Author of paper open issue #158 related to this publication. Closing this one as a duplicate issue.

[2015-08-18 18:04] #149 closed

[2015-08-18 20:45] tpoisot commented on #81
@jhammock Sounds interesting. I'm a bit time-limited at the moment, but I think it is an interesting project. If it's "only" a matter of serving files in a particular format, it should not be too difficult (especially if you have a template?).

[2015-08-18 20:49] jhammock commented on #81
I think there's quite a bit of flexibility if you flow your data via GloBI. @jhpoelen , perhaps you can point us to a sample or two? Are all the GloBI input files public?

[2015-08-19 01:49] jhpoelen commented on #150
@millerse data is now available through globi . . . see: http://www.globalbioticinteractions.org/#interactionType=eats&accordingTo=http%3A%2F%2Fdx.doi.org%2F10.1650%2FCONDOR-14-213.1

[2015-08-19 01:49] #150 closed

[2015-08-19 01:49] jhpoelen commented on #150
@millerse thanks again!

[2015-08-19 16:05] woodsp opened #159 "Wood, SA, Russell, R, Hanson, D, Williams, RJ, Dunne, JA. 2015. Effects of spatial scale of sampling on food web structure. Ecology and Evolution. doi:10.1002/ece3.1640"
Hey Jorrit, here's a new data-source for you:

Wood, S.A., Russell, R., Hanson, D., Williams, R.J. and Dunne, J.A. (2015) Effects of spatial scale of sampling on food web structure. Ecology and Evolution. (http://dx.doi.org/10.1002/ece3.1640)

The food-web data are provided as an appendix and in DataDryad (http://dx.doi.org/10.5061/dryad.g1qr6).

[2015-08-19 18:14] jhammock opened #160 "Chen et al, seed dispersal- also includes some fruit traits"
Hello! I put this dataset in EOL's DwC-A excel template. Three things to note:

a new (stand-in) association term, already in EOL system: http://eol.org/schema/terms/IsDispersalVectorFor
(there's a vector term in RO but judging by the definition source, it is meant only for pathogens)

There are some child measurements of the association records, for metadata, in the measurementOrFact tab. Is that

[2015-08-20 00:47] jhpoelen commented on #159
Hey Spencer,

Thanks for sharing! I hope we'll get it available through GloBI shortly, time permitting.

-jrorit

[2015-08-20 01:57] jhpoelen commented on #81
Yep, all the GloBI input files are publicly available.

Here's a sample of a flat tabular format we've been using:
interactions.tsv in https://github.com/globalbioticinteractions/template-dataset

Another example more darwin core archive oriented example is from @seltmann :
http://amnh.begoniasociety.org/dwc/AEC-TTD-TCN_DwC-A20150318.zip

There's various other file formats. If you pick one of the

[2015-08-24 17:08] ambosz commented on #158
Hi, Jorrit,
Thanks for getting back to me, we're excited to spread the word about this
dataset for predator prey interactions.

I've attached an updated .csv with fixes to CiteTitle, and ITIS data for
predator scientific name, prey group, and prey scientific name. Please note
the PreyGroupTSN is for the data that we published in Ecological
Informatics, which for some taxa are at a higher taxonomic

[2015-08-24 18:44] jhpoelen commented on #158
Hi Amber:

Thanks for getting back to me so quickly and taking action on the comments that I shared with you.

I'd prefer using published data from Dryad, and I do want to get your data out there sooner rather than later. When are you expecting the update the Dryad data?

thx,
-jorrit

PS GitHub doesn't support attachments, so please send the csv file directly to my email address : jhpoelen at xs4

[2015-08-29 09:17] coding46 opened #161 "[REST-API] Rename /imagesForName to /taxonInfo or /taxon-info"
Currently the method name "imagesForName" is kinda misleading as it responds with nearly the whole info dataset of a taxon, incl. images of course. :)

So I suggest renaming it into a more specific name and deprecate the 'imagesForName'.

(Not sure but I think this will lead to a versioning of the API. So maybe we should also think about all aspects of naming the other method names later.)

[2015-08-31 16:55] ambosz commented on #158
Hi, Jorrit,
I sent Dryad a help request a week ago but haven't heard back from them,
it's not clear how to submit revised data. I'm attaching the file here and
ccing your other account. I'll let you know when I hear from Dryad.
Best,
Amber

On Mon, Aug 24, 2015 at 11:44 AM, Jorrit Poelen <notifications@github.com>
wrote:

--
----------------------------
Farallon Institute
101 H Street, Suite Q
Pet

[2015-08-31 17:18] jhpoelen commented on #143
Hey y'all,

I've added the kills/killed_by interaction. This interaction describes one organism killing another (killer,victim). The preysOn interaction is a related interaction, where an organism kills and then eats another organism.

I thought a little more about the competesWith idea and keep coming back to that a competitor is an organism that shares some kind of resource with another. There i

[2015-08-31 17:18] #143 closed

[2015-08-31 22:42] jhpoelen commented on #158
Hi Amber:

Thanks for sharing the updated csv file by email. I received it in good order.

I took a first stab at integrating your data. Here are my findings: ```preySciNameTSN``` column is now available and the ```CiteTitle``` are no longer truncated.

In the readme for the GIS shapefiles, you mention that a column LocatNum is used to join the shapes with the pred-prey links. However, for some re

[2015-08-31 23:35] jhpoelen commented on #159
Hey Spencer, I made some time to have a closer look at your food webs. Two questions:

1. You mention that the links are  "[...] based on 6712 feeding observations collected from 745 sources [...]". Do you have the reference available so that the foodweb links can be traced to their original source?
2. In the paper, you mention various locations on and around Sanak Island. Would you happen to have

[2015-09-02 03:48] jhpoelen opened #162 "failed query: http://www.globalbioticinteractions.org/#interactionType=interactsWith&accordingTo=Smales%2C%20L%20R.%20%22An%20Annotated%20Checklist%20of%20the%20Australian%20Acanthocephala%20from%20Mammalian%20and%20Bird%20Hosts.%22%20Records%20of%20the%20South%20Australian%20Museum%2036%20%282003%29%3A%2059-82."
[code]

[2015-09-02 16:37] ambosz commented on #158
Hi, Jorrit,
Sorry about that, somehow the LocatNum field didn't get transferred to the
new version, and PredSciNameTSN was just left out, an oversight on my part.
This new file should have all the fields you are looking for. I've updated
the file but the name is the same so it is consistent with the files for
Dryad.

Let me know if you run into more problems, this is my first effort at this
level

[2015-09-02 17:17] jhpoelen commented on #70
HI @jemmybutton . . . finally managed to create a downloadable dump of all taxa (and their links) in the form of two csv files:

https://s3.amazonaws.com/globi/snapshot/target/data/taxa.csv.gz
and
https://s3.amazonaws.com/globi/snapshot/target/data/linkedTaxa.csv.gz

Also, unmatched names are available in the form of a file:
https://s3.amazonaws.com/globi/snapshot/target/data/unmatchedTax.csv

I'v

[2015-09-02 17:17] #70 closed

[2015-09-02 22:02] jhpoelen commented on #158
Hey Amber:

Thanks for being thorough . . . the meta data associated with your dataset can be found here:
https://github.com/globalbioticinteractions/szoboszlai2015/blob/master/globi.json

Once the v2 of the links file is available, please update globi.json accordingly in browser and create pull request or drop me a line if that doesn't work for you.

Your dataset should be available through GloBI

[2015-09-02 22:19] jhpoelen opened #163 "automatically discover interaction data across known data repositories"
Many data repositories for scientific data repositories now exist: dryad, zenodo, figshare and ecological archives. In order for GloBI to keep up with discovering and integrating the wealth of interaction data out there, we might have to go beyond manual checking of known repositories and word-of-mouth.

I think it would be nice to develop method to automatically ingest meta-data associated to pos

[2015-09-03 14:08] jhammock commented on #143
created

http://eol.org/schema/terms/isKilledBy
http://eol.org/schema/terms/kills

in EOL for now. We can map to RO terms when the time comes...

[2015-09-03 15:24] cmungall commented on #163
Maybe some journals could help with this? If they were to require conformance to some fairly simple standards when depositing in dryad/wherever, then interactions become not only more easily discovered, but auto-ingestible

[2015-09-03 23:47] jhpoelen commented on #163
Collaborating with a journal would definitely be a big help. Would you happen to know anyone on the editorial board of Ecological Society of America journals? We've already ingested many of their data papers published in http://esapubs.org/archive/default.htm (e.g. [Planque et al. 2014](http://dx.doi.org/10.1890/13-1062.1), [Barnes et al. 2008](http://dx.doi.org/10.1890/07-1551.1) ). In addition t

[2015-09-04 18:44] jhpoelen opened #164 "use revised dataset for Planque et al. 2014"
Yesterday, Benjamin Planque shared by email that a revised dataset for
Benjamin Planque, Raul Primicerio, Kathrine Michalsen, Michaela Aschan, Grégoire Certain, Padmini Dalpadado, Harald Gjøsæater, Cecilie Hansen, Edda Johannesen, Lis Lindal Jørgensen, Ina Kolsum, Susanne Kortsch, Lise-Marie Leclerc, Lena Omli, Mette Skern-Mauritzen, and Magnus Wiedmann 2014. Who eats whom in the Barents Sea: a fo

[2015-09-04 18:48] jhpoelen commented on #164
The GloBI importer for Planque et al. 2014 has been updated to handle the revised dataset. Also, the meta-data associated with the dataset can be found here: https://github.com/globalbioticinteractions/planque2014 in the file ```globi.json```.

Note that whenever others use the same format as Planque et al. 2014, they can clone the repository above and edit the citation and file locations associat

[2015-09-04 18:48] #164 closed

[2015-09-08 23:33] jhpoelen commented on #158
Your data is now available through GloBI and associated tools. See comments above on ideas for upgrading to the v2 version of the ilnk data.

Thanks for sharing your data and let me know if you find any suspicious data. . .

from http://www.globalbioticinteractions.org/#interactionType=interactsWith&accordingTo=Szoboszlai I saw:

![screen shot 2015-09-08 at 4 31 59 pm](https://cloud.githubusercont

[2015-09-08 23:33] #158 closed

[2015-09-09 19:58] KatjaSchulz opened #165 "Update GloBI darwin core archive"
It looks like both the snapshot and stable versions of the darwin core archive available under Accessing Species Interaction Data (https://github.com/jhpoelen/eol-globi-data/wiki#accessing-species-interaction-data) are quite old.  I just tried to pull some data about flower visitors from them, and there aren't any although the data were added to GloBI in June.  While EOL harvesting is still on hia

[2015-09-09 20:00] KatjaSchulz opened #166 "Change label for flower visitor interactions"
Flower visitor interactions have funky labels in the interactions menu of the browser: http://www.globalbioticinteractions.org/browse/index.html

It should be "flowers visited by" instead of "is flowers visited by" and "visits flowers of" instead of "is visits flowers of"

[2015-09-09 20:52] jhammock opened #167 "Default query for GloBI browser"
Since there must be a tractable subset of GloBI records displayed by default when you arrive in the browser (i.e., we can't show all GloBI records), how about showing an explicit example of a reasonable size, with fun records, like this, as default:
http://www.globalbioticinteractions.org/browse/#interactionType=interactsWith&resultType=json&sourceTaxon=Chelonia%20mydas

And show the query selecti

[2015-09-09 20:56] jhammock opened #168 "taxon and/or interaction type and/or spatial selection should constrain map display"
This is probably GloBI III, and may be documented already; feel free to close as duplicate if needed.

If some selection has been made in the top left of the browser, and/or the area picker has been used, the points displayed on the map should be filtered by that query.

[2015-09-09 21:08] KatjaSchulz opened #169 "Interactions browser: truncated download files are confusing"
If I do a query on what taxa interact with tuna, 490 data rows are listed in the browser, representing interactions of 9 distinct taxa of tuna with 346 distinct target taxa:
http://www.globalbioticinteractions.org/browse/index.html#interactionType=interactsWith&resultType=json&sourceTaxon=Thunnus

When I download the data, I actually get a file with over 2000 records, but only 13 target taxa are r

[2015-09-09 21:10] jhammock opened #170 "Default area picker should be the whole world"
Probably for GloBI III, as the current area picker tool seems resistant to this for some reason.

Many users will want all georeferenced records for their interaction of interest, so bbox=-180%2C-90%2C180%2C90 should be easily accessible. I can get that selection if I put the url straight into a fresh browser window, but manually adjusting the picker there seems next to impossible; a mystery of go

[2015-09-09 21:17] jhammock commented on #169
Also in case 2, perhaps an additional sentence:
"Too many interactions to fit into a download file. To enable data download, please try a more specific search. To access all GloBI records, please try the Data Access link."

[2015-09-09 22:58] jhpoelen commented on #167
Thanks for your suggestion! Just added this default to the GloBI browser. Please re-open if the behavior is not as desired.

[2015-09-09 22:58] #167 closed

[2015-09-09 23:18] jhpoelen commented on #165
According to my records, the most recent snapshots were created Tuesday 8 Sept 2015 (yesterday). The latest release was created over a year ago, on 23 July 2014.

Could you please confirm that the snapshots are recent as they can be?

Meanwhile, I'll try and make an effort to create a more recent release and perhaps automate the process while I am at it. This has been on my list for a long time, s

[2015-09-09 23:20] jhpoelen commented on #166
Thanks for your observations.

Göran @coding46 - do you have an idea to address this?

[2015-09-09 23:21] jhpoelen commented on #168
I totally agree that this would help make the exploration process a bit more intuitive. This might take a little work, so I'll assign it to the GloBI III bucket. If it is super-urgent, please let me know.

[2015-09-09 23:31] jhpoelen commented on #169
I very much agree that truncating data is not desirable. In fact, I'd rather have a system that simply retrieves the data requested, no matter how many data records are included. I can see some quick fixes: (a) disable download all together (a non-option I assume) (b) only include distinct interactions (loosing links to the references) (c) build a system that is able to stream results, no matter w

[2015-09-09 23:32] jhpoelen commented on #169
PS I marked this issue as a bug-feature - one of those issues that could be interpreted either way, depending who you talk to.

[2015-09-09 23:38] jhpoelen commented on #170
I gave this a quick try, and you are right: the google map widget doesn't really work well with this (see attached screenshot) . ..  the little handlers disappear for some reason. Perhaps a good reason to switch over to the opensource-friendly map widget, http://leafletjs.com ?

![screen shot 2015-09-09 at 4 36 14 pm](https://cloud.githubusercontent.com/assets/1084872/9776795/21733456-5711-11e5-9d

[2015-09-10 07:14] coding46 commented on #166
Four ideas:

1) As those labels are built by exploding the camelcased interaction type strings (+ some magic for suffices 'of' and 'by') from response we could solve it by renaming them in the web service (see https://github.com/globalbioticinteractions/globalbioticinteractions.github.io/blob/master/node_modules/globi-search/index.js#L315)

2) Remove the special suffix handling for "of" and "by" f

[2015-09-10 16:39] jhammock commented on #170
yay open source! Let's put that on the GloBI III list too.

[2015-09-10 16:41] jhammock commented on #169
Yeah, let's queue this up. If there's an easy way to implement d as a stopgap, I'd favor doing that in the meantime, but if that's still significant work, let's skip it and make it c for GloBI III

[2015-09-10 16:43] jhammock commented on #168
sounds good!

[2015-09-10 16:58] jhammock commented on #165
Hmm... The records in question were added a couple of months ago and are available in the browser, eg: http://www.globalbioticinteractions.org/browse/index.html#interactionType=visitsFlowersOf&resultType=json

I think I've found them in the DarwinCore Archive (from the source, Sarah E Miller. 6/25/2015. Species associations manually extracted from Robertson, C. 1929. Flowers and insects: lists of

[2015-09-10 20:52] jhammock opened #171 "rearranging attribution in DwC-A export to include the browser link for the taxon"
The source link should contain a link to the GloBI browser query for all interaction data for that species. If the previous source link was redundant with the Reference, it can simply be replaced. If it contains a url for a domain not mentioned in the References, it should be appended to each existing Reference, with conjunction text like, "Compiled by"

Examples:

Current behavior:

source: http:

[2015-09-11 18:59] jhpoelen commented on #165
@KatjaSchulz I've created a data release v0.4 to have a stable pointer to the datasets generated earlier this week (Sept 8, 2014). I've updated the wiki accordingly.

@jhammock thanks for noticing we need to revisit our eol interaction type mapping that are used in the darwin core archives. Currently, newly introduced interactions (e.g. visitsFlowerOf) are mapping to the default interactoin: inter

[2015-09-11 18:59] #165 closed

[2015-09-11 19:00] jhpoelen opened #172 "update interaction type mapping for darwin core archive"
in #165 @jhammock shared the following observation:

---
Hmm... The records in question were added a couple of months ago and are available in the browser, eg: http://www.globalbioticinteractions.org/browse/index.html#interactionType=visitsFlowersOf&resultType=json

I think I've found them in the DarwinCore Archive (from the source, Sarah E Miller. 6/25/2015. Species associations manually extracte

[2015-09-11 19:04] jhpoelen commented on #172
@jhammock question before updating the interaction type mapping:

Does the EOL ingestion process support the RO interaction types like:
http://purl.obolibrary.org/obo/RO_0002439 (preysUpon)
http://purl.obolibrary.org/obo/RO_0002444 (parasiteOf)
http://purl.obolibrary.org/obo/RO_0002454 (hasHost)

I am hoping that we can use the RO terms if they are available. Otherwise, EOL terms can be used to fi

[2015-09-11 20:24] jhammock commented on #172
Hmm... We've made EOL terms for all of those; frankly, I'm ready to overwrite all the EOL terms with RO terms if they're ready, though. So next time we harvest GloBI, let's plan on that. In the meantime, Jorrit, if you want to go ahead and adopt the RO terms in the EOL export, could you send me a list of all the RO terms you're using? And any EOL terms you're using where RO terms still aren't avai

[2015-09-11 20:31] jhammock commented on #172
(eg: if RO does not have the flower visiting terms, we can use the EOL terms)

[2015-09-11 21:48] jhpoelen commented on #172
Now, the darwin core archive includes RO first. If RO terms are not available, eol terms are used. If none are available, the default interaction "interactWith" is used. Closing issue.

PS If you have the time please review terms (and their IRIs) that can be found through:

 https://github.com/jhpoelen/eol-globi-data/wiki/Ontologies-and-Vocabularies  --> https://github.com/jhpoelen/eol-globi-data/

[2015-09-11 21:48] #172 closed

[2015-09-11 21:57] jhammock commented on #172
Sweet, will check that list and try to cover all unmatched terms on EOL upon next harvest. Not going to rush, though, in case RO decides to claim some of them in the meantime.

[2015-09-14 20:07] jhpoelen opened #173 "export of aggregate darwin core archive takes many hours"
Darwin core archives generated with aggregates / rollups take a long time to generate due to inefficient queries. Without aggregates is takes about 10mins to generate a full occurrence / associations table (dd 8 Sept 2015), with aggregates it takes over 4hrs.

Some preliminary observations show that it takes a second or so to aggregate a single reference. With over 14k references, to leads to a ge

[2015-09-14 21:32] jhammock opened #174 "Dismantle taxonomic roll-up"
Reminded by https://github.com/jhpoelen/eol-globi-data/issues/173, and following up on discussions at GloBI feedback session a couple of weeks ago with @KatjaSchulz and company, we are ready to end the taxonomic rollup experiment. The "seal food" style collections will address the needs of casual users in search of this kind of higher taxon level data; serious searchers are best served in the GloB

[2015-09-14 23:28] jhpoelen commented on #174
Removed the roll-up and updated the resource url in eol.

[2015-09-14 23:28] #174 closed

[2015-09-15 00:18] jhpoelen commented on #159
Wood et al. 2015 is now available through GloBI. Please re-open this issue if you find any issues. Thanks @woodsp for sharing!

[2015-09-15 00:18] #159 closed

[2015-09-15 02:41] jhpoelen opened #175 "eol page search for "Brown" returns an (incorrect) exact match for Brown Wood Owl (Strix leptogrammica)"
Steps to reproduce:

retrieve result from:
http://eol.org:80/api/search/1.0.xml?q=Brown&exact=true

expected result:
no exact matches

actual result:
[code]

A similar search using eol.org returns a big list of items containing "brown" in the name (see screenshot).

![screen shot 2015-09-14 at 7 40 01 pm](https://cloud.githubusercontent.com/assets/1084872/9866544/710ebaca-5b18-11e5-9242-3281b81e9d

[2015-09-15 20:05] jhammock commented on #175
Odd... I can only replicate this on this taxon concept; other pages that I've tried don't have similar behavior. It is behaving as though the only English common name for this taxon is "Brown". What it returns between the <content> tags, as I understand it, is all values present in the section where the string match was made- scientific names or any one language in the common names. The french nam

[2015-09-18 18:57] jhammock commented on #160
@jhpoelen Just getting back to revising this resource, I cannot find the discussion where you pointed me to a resource I could look at as an example. Recall: I had some non-standard metadata to attach to the association records, so I made child records in the measurementOrFact file, referencing the relevant association records. This is not the preferred way.

(This is what comes of keeping my corr

[2015-09-22 22:11] jhpoelen commented on #160
@jhammock I believe that example I pointed to was the Tri-Trophic Thematic Collection Network archive generated by @seltmann et al. (see https://github.com/globalbioticinteractions/tri-trophic-thematic-collection-network/blob/master/globi.json link and #133 for context).

Does that answer your question?

[2015-09-25 15:18] jhpoelen opened #176 "Wardeh et al. 2015 - Database of host-pathogen and related species interactions, and their global distribution"
@rdmpage suggested to add Wardeh, M. et al., 2015. Database of host-pathogen and related species interactions, and their global distribution. Sci. Data, 2, p.150049. Available at: http://dx.doi.org/10.1038/sdata.2015.49.

This dataset took a similar approach suggested in #18 some time ago - mining GenBank for interaction data.

[2015-09-25 20:28] jhammock commented on #160
Hmm... now that I have the exemplar resource in hand, it's harder to interpret than I expected. It looks like an occurrences file and a taxa file to me. Is one partner in the first and another in the second? If so, which column links the two together? All the good candidate elements seem to be frequently empty, so I ruled them out. I'm happy to imitate this format, but so far I don't understand it

[2015-10-04 00:09] cmungall opened #177 "Parse species interactions from NCBI BioSample"
This ticket is a placeholder. Not yet a fully fleshed out idea

Example record: http://www.ncbi.nlm.nih.gov/biosample/4054412

Another from the same bioproject:
http://www.ncbi.nlm.nih.gov/biosample/4122409

note 'isolation source' is the field used here. The value is text, no ID seems to be captured.

In other cases the 'host' field is used:

A general search for "host"
http://www.ncbi.nlm.nih.go

[2015-10-05 16:02] jhpoelen commented on #166
@coding46 (apologies for a late reply) if I add the 3) label , would you be able to easily apply the change to use that label?

[2015-10-05 16:03] cmungall commented on #166
I can add these to RO, and add explicit inverses. The rdfs:label from either would be used

[2015-10-05 16:07] jhpoelen commented on #166
nice! this way, GloBI doesn't have to keep (duplicates) labels around. Let me know when RO changes are applied, so we can start using the labels.

[2015-10-06 16:27] jhpoelen opened #178 "integrate with DAPSTOM (integrated database and portal for fish stomach records) is an ongoing initiative (supported by Defra and the EU) to digitise and make available fish stomach content records spanning the past 100 years."
DAPSTOM (integrated database and portal for fish stomach records) is an ongoing initiative (supported by Defra and the EU) to digitise and make available fish stomach content records spanning the past 100 years.

https://www.cefas.co.uk/publications-data/fish-stomach-records/

[2015-10-06 16:34] jhpoelen opened #179 "integrate with fishbase through fishbase.ropensci.org"
fishbase.org (and sealifebase.org) is now available through fishbase.ropensci.org . Suggest to link to diet, predator and food items provide by these rich data sources.

[2015-10-06 17:15] jhpoelen opened #180 "update http://polytraits.lifewatchgreece.eu/download-db"
Polytraits is a database on biological traits of polychaetes (bristle worms, Polychaeta: Annelida). It covers information about morphological, behavioural, reproductive and larval characteristics of polychaete taxa which has been collected from the literature.

GloBI is now using 2013 version, suggest to upgrade to more recent version. Or . . . even better: figure out a way to automated the integr

[2015-10-06 17:27] jhpoelen opened #181 "upgrade Open Tree of Life Taxonomy when v2.9 is available"
GloBI has been integrated with open tree of life taxonomy for over a year using the open tree of life reference taxonomy at http://files.opentreeoflife.org/ott/. (see https://github.com/lukejharmon/traitathon/wiki/Pocket-Gophers-and-Their-Parasitic-Chewing-Lice and https://github.com/lukejharmon/traitathon/wiki#pocket-gophers-and-their-parasitic-chewing-lice .

Suggest to upgrade (or figure out a

[2015-10-08 02:39] jhpoelen commented on #175
@jhammock just repeated http://eol.org:80/api/search/1.0.xml?q=Brown&exact=true and same (unexpected) result is present: Brown Wood Owl (Strix leptogrammica).

[2015-10-08 02:46] jhpoelen commented on #175
Also, found that "blue" resolves to "Blue Wildebeest (_Connochaetes taurinus_). It seems that exact matches are more like exact _prefix_ matches.

So, because of this GloBI says that Yellowfin Tuna (_Thunnus albacares_) eat Blue Wildebeest (_Connochaetes taurinus_). Weird isn't it?

![screen shot 2015-10-07 at 7 42 51 pm](https://cloud.githubusercontent.com/assets/1084872/10356434/1f31c550-6d2c-11

[2015-10-08 17:32] jhpoelen opened #182 "create linkout from ncbi to globalbioticinteractions"
use case:
1. user looks up taxon in ncbi http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=7227
2. user inspects the linkout section (see attached)
3. user clicks on the linkout for GloBI
4. user lands on a GloBI page that shows biotic interactions for taxon NCBI:7227 (e.g. http://www.globalbioticinteractions.org/#sourceTaxon=NCBI%3A7227&interactionType=interactsWith )

for more informati

[2015-10-09 18:37] jhpoelen commented on #145
an example of API based taxon resolution issue; https://github.com/EOL/tramea/issues/24 .

[2015-10-12 22:39] tpoisot commented on #81
Assuming I return a JSON file, that would follow `interactions.tsv` closely, would it work for you?

I can make that a fixed point in the URL schemes, then you should be able to read from it, correct?

[2015-10-12 23:15] tpoisot commented on #81
Specifically, this would be the type of JSON:

[code]

[2015-10-12 23:35] jhpoelen commented on #81
@tpoisot looks great! I'd prefer csv, but adding json probably makes sense. Some fields I would expect in addition (if available) would be: citation / doi / source / lifestage etc.). This way, folks can trace the interaction record to the source and be able to access data at most granular level. Also, if you have a targetTaxonId for ITIS, please add it also, preferably in the shorthand. If you'd l

[2015-10-12 23:38] jhpoelen commented on #81
If you need some inspiration, I'd suggest to poke around Sarah Miller's @millerse repositories https://github.com/millerse?tab=repositories . Sarah works with @jhammock and added a ton of interaction data using tsv / github method.

[2015-10-13 00:47] tpoisot commented on #81
Cool. I will work on that. The other issue is that mangal uses a specification for interaction types which is finer than OBO

For example, here: https://github.com/mangal-wg/mangal-standalone/commit/cd2f985fbfbb126114ac5f71576083243099b799#diff-c5c7912985956937025d37d338764d7bR22

But as for the other things, it won't be an issue. I will definitely add a  `recordId`.

[2015-10-13 01:47] jhpoelen commented on #81
@tpoisot nice! looking forward to making mangal discoverable through GloBI.

I've added some issues (see refs in this thread) with requests for new RO terms. Please feel free to follow my example . . .

Just curious - it seem to me that herbivory is simply eating plants right? So, this can be derived from the classification of the customer / resource taxa. E.g. if cow is eating a plant, than it is

[2015-10-13 02:48] tpoisot commented on #81
Creating the list of interaction types has been an ongoing effort, that took a few months of emailing and in-person meetings. Simply said, we wanted as many types of interactions as possible, because we (the co-authors of the mangal paper) are working on interactions. So sometimes we *can* infer herbivory, sometimes not. On the other hand, we can *always* define trophic = {herbivory + predation};

[2015-10-13 03:34] jhpoelen commented on #81
Thanks for providing the context. Perhaps better to push the mangal types over as is (with an mangal id that resolves to some definition). This would than push the mapping to GloBI side, so that we can simply introduce more granular terms as they become available. So, in summary: suggest to use RO terms when it maps perfectly, otherwise please use the (more specific) mangal interaction types. Curi

[2015-10-13 14:52] tpoisot commented on #81
OK, so I could be able to use the internal mangal types, but I would need to add an ID. Got it.

I will try to work on this later this week.

[2015-10-13 14:54] tpoisot commented on #81
By the way, what do you think is the best solution? I can serve one file for all interactions but it will get large (we're at ~7500 at the moment, and it will definitely grow in the next three months). Or I can serve a file by dataset. And, possibly, a file for interactions that are not assigned to a dataset.

[2015-10-13 15:24] jhpoelen commented on #81
I'd prefer one big csv/tsv file (e.g. [interaction.tsv](https://github.com/globalbioticinteractions/template-dataset/blob/master/interactions.tsv)) that includes all datasets with appropriate attribution (e.g. reference doi, reference citation, reference mangal id, record id). Most published datasets are published as csv (e.g. [Barnes et al. 2008](http://www.esapubs.org/Archive/ecol/E089/051/)). J

[2015-10-15 02:01] tpoisot commented on #81
Thanks for the feedback. There is something that looks like a plan in my head.

1. I will allow the generation of a big tsv file for each *dataset*. This way, the contributors can take it, submit it to figshare or the like, then get a DOI.
2. I will also probably keep on the big json file for all interactions (tsv would have a lot of missing values, and since it would be served from a cloud machin

[2015-10-15 16:11] jhpoelen commented on #81
Definitely sounds reasonable: if it works for you, it'll probably work for GloBI.

I do want to say that if you are using gzip compression (on the "wire" or in rest), tsv files get pretty small. For example, the taxa.csv.gz file available through http://globalbioticinteractions.org/references.html is 16MB compressed and 212MB uncompressed. For GloBI I have >> GB of data and am currently paying abo

[2015-10-20 18:21] jhammock commented on #175
Jeremy is now digging into the names mapping code and we're starting to learn how this worked. There have been a couple of surprises already, which fit this general pattern.

[2015-10-20 21:00] jhpoelen commented on #175
@jhammock Thanks for following up and good to hear that Jeremy is looking at this. . . . curious what the outcomes will be.

[2015-10-21 14:58] jhpoelen opened #183 "Kissling, W.D. et al., 2014. Establishing macroecological trait datasets: digitalization, extrapolation, and validation of diet preferences in terrestrial mammals worldwide. Ecology and Evolution, 4(14), pp.2913–2930. Available at: http://dx.doi.org/10.1002/ece3.1136."
@BrianHayden suggested to make:

Kissling, W.D. et al., 2014. Establishing macroecological trait datasets: digitalization, extrapolation, and validation of diet preferences in terrestrial mammals worldwide. Ecology and Evolution, 4(14), pp.2913–2930. Available at: http://dx.doi.org/10.1002/ece3.1136.

accessible through GloBI.

[2015-10-21 18:07] KatjaSchulz commented on #183
Looks like most of these are general diet data, not biotic interaction data where we have taxonomic data for both players.  We've already talked about the potential of inferring diet from interaction data.  It may make sense for GloBi to expand its scope to also manage such diet data.  This would probably be a good topic for our discussions during your DC visit.

[2015-10-23 15:52] jhpoelen opened #184 "add Africa Tree Database"
Thanks to @carrieseltzer et al. the data associated with the http://africatreedatabase.org is now available in a machine readable format. Contains over 9k species interactions focused on trees and their consumers/ seed dispersers.

------
Dear colleagues,

It has been about 3 years since we launched the Africa Tree Database and about that long now since most of us corresponded about it! Over the l

[2015-10-23 22:08] jhpoelen opened #185 "Ecological Database of the World's Insect Pathogens"
suggested by @diatomsRcool -

http://cricket.inhs.uiuc.edu/edwipweb/edwipabout.htm

Thanks Anne!

[2015-11-02 16:02] jhpoelen commented on #133
Closing issue: @seltmann has updated the existing archives (e.g. https://github.com/globalbioticinteractions/tri-trophic-thematic-collection-network and https://github.com/globalbioticinteractions/digital-bee-collections-network) and added a new one (https://github.com/globalbioticinteractions/plant-bug-planetary-biodiversity-inventory).

Please comment is this issue if there's still loose ends.

[2015-11-02 16:02] #133 closed

[2015-11-03 21:53] jhpoelen opened #186 "parasites and diseases in the American bison"
suggested by @diatomsRcool -

http://www.montana.edu/wwwcbs/parabib.html
bison parasites

[2015-11-05 15:53] millerse opened #187 "Resolved ids in Unmatched Taxon Id"
I added ids to some unmatched taxa and they still appear in the latest version of the unmatched taxon id sheet on the globi main site.  If those could be removed, that would be very helpful.

[2015-11-05 17:38] millerse commented on #143
@jhpoelen Sorry for the delay.  I have created a repository for the data: https://github.com/millerse/Seton-1929

[2015-11-05 17:39] millerse commented on #142
@jhpoelen Sorry for the delay. I have created a repository for the data: https://github.com/millerse/Seton-1929

[2015-11-08 03:24] jhpoelen opened #188 "Greystock et al. 2015 Do managed bees drive parasite spread and emergence in wild bees?"
Bees and their parasites: spatial-temporal species interactions.
Greystock et al. 2015 Do managed bees drive parasite spread and emergence in wild bees? http://dx.doi.org/10.1016/j.ijppaw.2015.10.001